---
layout: page
title: Safing Portmaster
redirect_from:
- /technology/
- /download/
---

<div class="alert-primary rounded-none text-md">
  <span>Portmaster is Alpha Software - expect hickups here and there</span>
</div>
<header class="header-two-container">
  <div class="header-two-top">
      <h1 class="header-two-top-title">
          Take Back Control of Your Computer
      </h1>
      <p class="header-two-top-desc">
          Portmaster is a free and open-source application that puts
          you back in charge over all your computer's network
          connections.
      </p>
      <a class="btn-secondary" href="#downloads">Take back your freedom</a>
  </div>
  <div class="header-two-bottom">
      <img src="{{ site.img_url }}page-specific/portmaster/full-interface.png" alt="">
  </div>
  <div class="header-bg">
      <svg viewBox="0 0 862.55555573 533">
          <rect width="100%" height="100%" fill="transparent" />
          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="45%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
              <stop offset="100%" style="stop-color:rgb(203, 216, 255);stop-opacity:1" />
          </linearGradient>
          <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
              <stop offset="30%" style="stop-color:rgb(166, 188, 252);stop-opacity:1" />
          </linearGradient>
          <g class="currentLayer">
              <path fill="url(#grad1)" d="M-343.9671309 341.87524268l928.98694302 42.12820593c.01883766.20463406 61.2696979-105.77288342-213.41085192-190.63207383C96.92841038 108.51218436 51.68872214 129.12144353-5.83818882 99.75368848" color="#000" />
              <path fill="url(#grad2)" d="M-204.43749658 535.31278382l.52971601-372.32431132c-.529716.43478124 321.632442 179.35134083 582.17297919 146.37836828C638.8057358 276.39386824 866.37330043 414.2317043 866.3624897 413.79928331c.01081073.43242099 4.335135 129.08106798 4.32432433 128.64864865" color="#000" />
          </g>
      </svg>
  </div>
</header>
<section class="space-y-80 mt-60">
  <div class="showcase-container">
      <div class="showcase-left">
          <h2 class="showcase-left-title" style="max-width: 350px;">
            Monitor All Network Activity
          </h2>
          <p class="showcase-left-desc">
            Discover everything that is happening on your computer. Expose every 
            connection your applications make and detect evil ones. Finally get 
            the power to act accordingly. 
          </p>
          <a class="btn-secondary" href="#">Discover the portmaster</a>
      </div>
      <div class="showcase-right" style="max-width: 1050px;">
          <img src="{{ site.img_url }}page-specific/portmaster/monitor-network-activity.png" alt="">
      </div>
  </div>
  <div class="showcase-container-reverse">
    <div class="showcase-left">
        <h2 class="showcase-left-title" style="max-width: 350px;">
          Block Unwanted Connections 
        </h2>
        <p class="showcase-left-desc">
          Many programs connect to the Internet without your knowledge. When you 
          find unwanted connections, you can now simply block them. 
        </p>
        <a class="btn-secondary" href="#">Discover the portmaster</a>
    </div>
    <div class="showcase-right" style="max-width: 850px;">
        <img src="{{ site.img_url }}page-specific/portmaster/manually-allow-ord-block-connections.png" alt="">
    </div>
  </div>
  <div class="showcase-container">
      <div class="showcase-left">
          <h2 class="showcase-left-title" style="max-width: 450px;">
            Auto-Block via Selected Filter Lists 
          </h2>
          <p class="showcase-left-desc">
            Automatically block ads, trackers and malware hosts via trusted domain-lists, 
            which are also used by Ad-Blockers, etc. Easily change the defaults to fit 
            your needs. 
          </p>
          <a class="btn-secondary" href="#">Discover the portmaster</a>
      </div>
      <div class="showcase-right" style="max-width: 850px;">
          <img src="{{ site.img_url }}/page-specific/portmaster/block-trackers-system-wide.png" alt="">
      </div>
  </div>
  <div class="showcase-container-reverse">
    <div class="showcase-left">
        <h2 class="showcase-left-title" style="max-width: 350px;">
          Enforce Secure DNS 
        </h2>
        <p class="showcase-left-desc">
          Even with invasive connections gone, you do not want to share your dns requests 
          out in the open. With the Portmaster, you can easily re-route all your dns 
          queries to a DNS-over-TLS provider of your choice. 
        </p>
        <a class="btn-secondary" href="#">Discover the portmaster</a>
    </div>
    <div class="showcase-right" style="max-width: 850px;">
        <img src="{{ site.img_url }}page-specific/portmaster/enforce-dns-over-tls.png" alt="">
    </div>
  </div>
  <div class="showcase-container">
    <div class="showcase-left">
        <h2 class="showcase-left-title" style="max-width: 350px;">
          Explore the Docs and Source Code 
        </h2>
        <p class="showcase-left-desc">
          In the age of Mass Surveillance, what good is a service when you cannot see what 
          it is really doing? We believe in open source. We also document everything 
          as good as we can. 
        </p>
        <a class="btn-secondary" href="#">Discover the portmaster</a>
    </div>
    <div class="showcase-right" style="max-width: 850px;">
        <img src="{{ site.img_url }}page-specific/portmaster/explore-the-docs-and-source-code.png" alt="">
    </div>
  </div>
  <div class="showcase-container-reverse">
    <div class="showcase-left">
        <h2 class="showcase-left-title" style="max-width: 550px;">
          Configure Settings for Different Networks 
        </h2>
        <p class="showcase-left-desc">
          The Wi-Fi in your local coffee shop is riskier than yours at home. Set up your 
          settings for different networks and then simply press a button when changing 
          location. All settings will adjust immediately
        </p>
        <a class="btn-secondary" href="#">Discover the portmaster</a>
    </div>
    <div class="showcase-right" style="max-width: 850px;">
        <img src="{{ site.img_url }}page-specific/portmaster/configure-settings-for-different-networks.png" alt="">
    </div>
  </div>
  <div class="showcase-container ">
      <div class="showcase-left">
          <h2 class="showcase-left-title" style="max-width: 350px;">
              Set Global & per‑App Settings
          </h2>
          <p class="showcase-left-desc">
            Make your own rules. Completely cut off applications from the 
            Internet. Or block all p2p connections except for certain apps. 
            Or never connect to specific countries. The Portmaster has you 
            covered. 
          </p>
          <a class="btn-secondary" href="#">Discover the portmaster</a>
      </div>
      <div class="showcase-right" style="max-width: 850px;">
          <img src="{{ site.img_url }}/page-specific/portmaster/Set-global-and-per-app-configureation.png" alt="">
      </div>
  </div>
  <div class="download-container">
    <h2 class="download-container-title">
        Download
    </h2>
    <div class="alert-primary max-w-3xl mx-auto">
        <i class="icon-twitter text-xs"></i>
        <span>Portmaster is Alpha Software, treat as such; expect bugs here and there. Early Adopters welcome.</span>
    </div>
    <div class="download-container-buttons">
        <a class="btn-secondary" href="{{ site.download_windows_url }}">
          <svg class="h-4 w-4 mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 88">
            <path fill="#fff" d="m0 12.402 35.687-4.8602.0156 34.423-35.67.20313zm35.67 33.529.0277 34.453-35.67-4.9041-.002-29.78zm4.3261-39.025 47.318-6.906v41.527l-47.318.37565zm47.329 39.349-.0111 41.34-47.318-6.6784-.0663-34.739z" />
          </svg>
          Windows 10 + 11
        </a>
        <a class="btn-secondary" href="{{ site.download_linux_deb_url }}">
          <svg class="h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
            <circle fill="#fff" cy="50" cx="50" r="45" />
            <circle fill="none" stroke="#000" stroke-width="8.55" cx="50" cy="50" r="21.825" />
            <g id="friend">
              <circle fill="#fff" cx="19.4" cy="50" r="8.4376" />
              <path stroke="#fff" stroke-width="3.2378" d="M67,50H77" />
              <circle fill="#000" cx="19.4" cy="50" r="6.00745" />
            </g>
            <use xlink:href="#friend" transform="rotate(120,50,50)" />
            <use xlink:href="#friend" transform="rotate(240,50,50)" />
          </svg>
          Ubuntu
        </a>
        <a class="btn-secondary" href="{{ site.download_linux_rpm_url }}">
          <svg class="h-5 w-5 mr-3" viewBox="0 0 204.7 200.9" xmlns="http://www.w3.org/2000/svg">
            <path d="m102.7 1.987c-55.41 0-100.3 44.21-100.4 98.79h-0.01773v76.47h0.01773c0.02659 12.38 10.22 22.4 22.8 22.4h77.58c55.42-0.0349 100.3-44.24 100.3-98.79 8e-5 -54.58-44.91-98.79-100.4-98.79zm20.39 40.68c16.85 0 32.76 12.7 32.76 30.23 0 1.625 0.01 3.252-0.26 5.095-0.4668 4.662-4.794 8.012-9.505 7.355-4.711-0.6649-7.909-5.07-7.037-9.679 0.0799-0.526 0.1083-1.352 0.1083-2.772 0-9.938-8.257-13.77-16.06-13.77-7.805 0-14.84 6.462-14.85 13.77 0.1349 8.455 0 16.84 0 25.29l14.49-0.1067c11.31-0.2306 11.44 16.54 0.1305 16.46l-14.61 0.1067c-0.0354 6.801 0.0532 5.571 0.0178 8.996 0 0 0.1225 8.318-0.1296 14.62-1.749 18.52-17.76 33.32-37 33.32-20.4 0-37.2-16.41-37.2-36.54 0.6124-20.7 17.38-36.99 38.5-36.8l11.78-0.08737v16.43l-11.78 0.1066h-0.06216c-11.6 0.3382-21.55 8.1-21.74 20.34 0 11.15 9.148 20.08 20.5 20.08 11.34 0 20.42-8.124 20.42-20.06l-0.01772-62.23c0.0058-1.155 0.04435-2.073 0.1731-3.347 1.914-15.22 15.74-26.82 31.39-26.82z" style="fill:#fff;stroke-width:.982"/>
          </svg>
            Fedora
        </a>
        <a disabled class="btn" href="#">
          <i class="icon-twitter text-xs mr-2"></i>
          Macos (Not supported)
        </a>
    </div>
    <p class="download-container-extra">
        View guide and status for <a class="link-primary" href="{{ site.docs_install_windows_url }}">other Linux 2.4+ distributions</a>
    </p>
  </div>
  <div class="faq-container">
    <div class="faq-container-top">
        <span class="faq-container-top-title">
            FAQ
        </span>
        <p class="faq-container-top-desc">
            You have a question? We answered some already, but you
            can always contact us at <a class="link-primary" href="">hello@safing.io</a>
        </p>
    </div>
    <div class="faq-container-bottom">
      {% for faq in site.data.faq.portmaster %}
        <div class="faq-container-bottom-question">
          <h1 class="faq-container-bottom-question-title">
            {{ faq.q }}
          </h1>
          <p class="faq-container-bottom-question-desc">
            {{ faq.a }}
          </p>
          <div class="faq-container-bottom-question-desc-extra">
            {% if faq.link %}
              <a class="link-primary" href="{{ faq.link.url }}">{{ faq.link.text }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <div class="faq-container-bottom-question">
        <h1 class="faq-container-bottom-question-title">
            Where can I find your source code?
        </h1>
        <p class="faq-container-bottom-question-desc">
            You can find our code on <a class="link-primary" href="">Github. The Portmaster</a>, the <a class="link-primary" href="">Portmaster UI</a>, the <a class="link-primary" href="">SPN</a>, the <a class="link-primary" href="">docs</a>
            and <a class="link-primary" href="">this website</a> have their respective repositories. <a class="link-primary" href="">Jess</a>, the heart of the SPN, which
            got audited by Cure53, can also be found online.
        </p>
      </div>
    </div>
  </div>
</section>