---
title: Get Help
layout: page
---


<section class="section-container">
  <div class="download-container">
    <h1 class="download-container-title">Support</h1>
    <p class="download-container-extra">
      What do you need help with?
    </p>
    <div class="col-container-center w-full md:w-max text-center md:text-left">
      <a class="btn-secondary" href="{{ site.download_windows_url }}"><i class="icon-windows text-md mr-2"></i>Windows 10 + 11</a>
      <a class="btn-secondary" href="{{ site.download_linux_deb_url }}"><i class="icon-ubuntu text-md mr-2"></i>Ubuntu</a>
    </div>
  </div>
  <div class="space-y-36" id="portmaster">
      <div class="download-container">
        <h2 class="download-container-title">
          Portmaster
        </h2>
        <div class="space-y-8 max-w-3xl mx-auto">
          <p class="download-container-extra">
            For common problems check out our documentation with extensive guides on
            installation, DNS Configuration and the Settings Handbook, describing every
            Portmaster setting in detail. Report issues and bugs on GitHub while you can
            always ask for more help on our subreddit or via mail.
          </p>
          <div class="alert-primary">
              <i class="icon-twitter text-xs"></i>
              <span>Portmaster is Alpha Software, treat as such; expect bugs here and there. Early Adopters welcome.</span>
          </div>
        </div>
        <div class="col-container-center w-full md:w-max text-center md:text-left">
          <a class="btn-secondary" href="{{ site.download_windows_url }}"><i class="icon-windows text-md mr-2"></i>Windows 10 + 11</a>
          <a class="btn-secondary" href="{{ site.download_linux_deb_url }}"><i class="icon-ubuntu text-md mr-2"></i>Ubuntu</a>
          <a class="btn-secondary" href="{{ site.download_linux_rpm_url }}"><i class="icon-fedora text-md mr-2"></i>Fedora</a>
          <a disabled class="btn" href="#"><i class="icon-mac text-md mr-2"></i>Macos (Not supported)</a>
        </div>
      </div>
      <div class="faq-container">
        <div class="faq-container-top">
            <h2 class="faq-container-top-title">
                FAQ
            </h2>
            <p class="faq-container-top-desc">
              Have a question? Check out some we already answered below. You can always reach out to us to find out more or just to say hi. 
            </p>
        </div>
        <div class="faq-container-bottom">
          {% for faq in site.data.faq.portmaster %}
            <div class="faq-container-bottom-question">
                <div class="card-faq hover-scale-out">
                    <label class="card-label" for="card-toggle-anchor-portmaster-{{ forloop.index }}">
                        <div class="wrapper-left">
                            <div class="card-title">
                                <h3 class="title">
                                  {{ faq.q }}
                                </h3>
                            </div>
                        </div>
                        <div class="wrapper-right">
                            <i class="icon-arrow"></i>
                        </div>
                    </label>
                    <input class="card-input-toggle" id="card-toggle-anchor-portmaster-{{ forloop.index }}" type="checkbox">
                    <div class="card-dropdown-toggle">
                        <div class="card-dropdown-content">
                          {{ faq.a }}
                          {% if faq.link %}
                            <br>
                            <br>
                            <a class="link-primary" href="{{ faq.link.url }}">{{ faq.link.text }}</a>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
          {% include source_code_faq.html %}
      </div>
  </div>
  <div class="space-y-36" id="portmaster">
    <div class="download-container">
      <h2 class="download-container-title">
        Safing Privacy Network 
      </h2>
      <div class="alert-primary max-w-3xl mx-auto">
        <i class="icon-twitter text-xs"></i>
        <span>
          If you want to know more about the technology, visit 
          <a class="link" href="{{ site.spn_url }}">the SPN page</a>, 
          <a class="link" href="{{ site.kickstarter_url }}">the Kickstarter</a> 
          or 
          <a class="link" href="{{ site.whitepaper_url }}">read our Whitepaper</a>.
          Otherwise, feel free to contact us with any matter or request you might have. 
        </span>
      </div>
      <div class="col-container-center w-full md:w-max text-center md:text-left">
        <a class="btn-secondary" href="{{ site.download_windows_url }}"><i class="icon-windows text-md mr-2"></i>Windows 10 + 11</a>
        <a class="btn-secondary" href="{{ site.download_linux_deb_url }}"><i class="icon-ubuntu text-md mr-2"></i>Ubuntu</a>
        <a class="btn-secondary" href="{{ site.download_linux_rpm_url }}"><i class="icon-fedora text-md mr-2"></i>Fedora</a>
        <a disabled class="btn" href="#"><i class="icon-mac text-md mr-2"></i>Macos (Not supported)</a>
      </div>
    </div>
    <div class="faq-container">
      <div class="faq-container-top">
          <h2 class="faq-container-top-title">
              FAQ
          </h2>
          <p class="faq-container-top-desc">
            Have a question? Check out some we already answered below. You can always reach out to us to find out more or just to say hi. 
          </p>
      </div>
      <div class="faq-container-bottom">
        {% for faq in site.data.faq.spn %}
          <div class="faq-container-bottom-question">
              <div class="card-faq hover-scale-out">
                  <label class="card-label" for="card-toggle-anchor-spn-{{ forloop.index }}">
                      <div class="wrapper-left">
                          <div class="card-title">
                              <h3 class="title">
                                {{ faq.q }}
                              </h3>
                          </div>
                      </div>
                      <div class="wrapper-right">
                          <i class="icon-arrow"></i>
                      </div>
                  </label>
                  <input class="card-input-toggle" id="card-toggle-anchor-spn-{{ forloop.index }}" type="checkbox">
                  <div class="card-dropdown-toggle">
                      <div class="card-dropdown-content">
                        {{ faq.a }}
                        {% if faq.link %}
                          <br>
                          <br>
                          <a class="link-primary" href="{{ faq.link.url }}">{{ faq.link.text }}</a>
                        {% endif %}
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}
        {% include source_code_faq.html faq_id='spn-0'%}
    </div>
  </div>
</section>
