---
layout: page
title: Safing Portmaster - Easy Privacy
redirect_from:
- /portmaster/
- /technology/
---

<header class="header-two-container mt-20">
  <div class="header-two-top">
    <h1 class="header-two-top-title" style="max-width: 700px;">
      Get Peace of Mind with<br>
      Easy Privacy
    </h1>
    <p class="header-two-top-desc">
      Portmaster is a free and open-source application firewall that does the heavy lifting for you.
      Restore privacy and take back control over all your computer's network activity.
    </p>
    <div class="flex space-x-8 items-center justify-center">
      <div class="space-x-8 items-center flex">
        <a href="{{ site.seen_itsfoss_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}/external/itsfoss.png"></a>
        <a href="{{ site.seen_ghacks_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}/external/ghacks.png"></a>
      </div>
      <div class="hidden lg:block">
        {% include download_button.html unique_id="1" %}
      </div>
      <div class="space-x-8 items-center flex">
        <a href="{{ site.seen_techlore_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}/external/techlore.png"></a>
        <a href="{{ site.seen_privacytools_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}/external/privacytools.png"></a>
      </div>
    </div>
    <div class="flex space-x-2 max-w-max mx-auto" style="margin-top: 10px;">
      <div class="flex items-center" style="margin-left: -19px;">
        <div class="flex items-center">
          <span class="block">Version:</span>
          <img src="{{ site.img_shields_io_release_url }}" style="filter: invert(1); width: 80px; height: 38px; margin-left: -8px;">
        </div>
        <div class="flex items-center">
          <span class="block">Github Stars:</span>
          <img src="{{ site.img_shields_io_stars_url }}" style="filter: invert(1); width: 50px; height: 38px; margin-left: -8px;">
        </div>
    </div>
    </div>
  </div>
  <div class="header-two-bottom" style="margin-top: 2rem; position: relative;">
      <div class="element-x-center max-w-max mx-auto">
          <video loop autoplay width="auto" height="auto">
              <source src="{{ site.assets_url }}/video/page-specific/landing/video.webm" type="video/webm">
         </video>
      </div>
  </div>
  <div class="header-bg">
    <div class="wave-contrainer" style="z-index: -1; bottom: unset; top: 440px; opacity: .45;">
        <div class="wave-background" style="background-image: url({{ site.img_url }}page-specific/landing/wave2.svg); height: 195px; position: unset;"></div>
    </div>
  </div>
</header>
<section class="general-layout">
  <div class="showcase-one-container-reverse">
    <div class="showcase-one-left" style="max-width: 1150px;">
      <img src="{{ site.img_url }}page-specific/portmaster/monitor-network-activity.png" alt="">
    </div>
    <div class="showcase-one-right">
        <h2 class="showcase-one-right-title" style="max-width: 350px;">
          Monitor All Network Activity
        </h2>
        <p class="showcase-one-right-desc">
          Discover everything that is happening on your computer. Expose every
          connection your applications make and detect evil ones. Finally get
          the power to act accordingly.
        </p>
    </div>
  </div>
  <div class="showcase-one-container">
    <div class="showcase-one-left" style="max-width: 850px;">
      <img src="{{ site.img_url }}page-specific/portmaster/block-trackers-system-wide.png" alt="">
    </div>
    <div class="showcase-one-right">
        <h2 class="showcase-one-right-title" style="max-width: 450px;">
            Auto-Block Trackers System-Wide
        </h2>
        <p class="showcase-one-right-desc">
          Protect your whole computer, not just your browser. Block all
          advertisements and trackers for every application. Easily add
          your own rules and block individual domains.
        </p>
    </div>
  </div>
  <div class="showcase-one-container-reverse">
    <div class="showcase-one-left" style="max-width: 950px;">
      <img src="{{ site.img_url }}page-specific/portmaster/set-global-and-per-app-configuration.png" alt="">
    </div>
    <div class="showcase-one-right">
        <h2 class="showcase-one-right-title" style="max-width: 350px;">
            Set Global & per‑App Settings
        </h2>
        <p class="showcase-one-right-desc">
          Make your own rules. Completely cut off applications from the
          Internet. Or block all p2p connections except for certain apps.
          Or never connect to specific countries. Portmaster has you
          covered.
        </p>
    </div>
  </div>

  <div class="hidden lg:block">
    <div class="download-container ">
      <div class="card-package darkmode relative mx-auto" style="max-width: 1210px; width: 100%;">
          <div class="card-package-top" style="margin-top: 0;">
            <span class="card-package-top-amount" style="font-size: 2rem;">
                Open Source & Free
            </span>
            <p class="card-package-top-desc" style="max-width: 480px;">The free version is very powerful tool, but by buying a package you support the development of Portmaster.</p>
            </div>
          <div class="card-package-bottom transform scale-105" style="position: absolute; width: 100%; left: 0; bottom: 0px; display: flex; justify-content: end; height: 100%;">
            <div class="hidden lg:block"  style="display: flex; align-items: center; margin-right: 4rem;">
                {% include download_button.html unique_id="2" %}
              </div>
          </div>
      </div>
      <div class="flex mx-auto w-max mt-8 space-x-8 items-center" style="align-items: center;">
          <p class="block text-safing-gray-400">Seen and featured on</p>
          <div class=" space-x-8 hidden lg:flex" style="align-items: center;">
              <a href="{{ site.seen_itsfoss_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}/external/itsfoss.png"></a>
              <a href="{{ site.seen_ghacks_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}/external/ghacks.png"></a>
              <a href="{{ site.seen_techlore_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}/external/techlore.png"></a>
              <a href="{{ site.seen_privacytools_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}/external/privacytools.png"></a>
          </div>
      </div>
    </div>
  </div>

  <div class="blogpod-container">
      <div class="blogpod-container-top">
          <span class="blogpod-container-top-bg-title" style="margin-top: -6rem; opacity: 0.11;">Follow Us</span>
          <h2 class="blogpod-container-top-title">
              Blog, Podcast &amp; Videos
          </h2>
          <div class="col-container-center pt-5 md:pt-0  w-full md:w-max text-center md:text-left">
            <a class="btn-secondary" href="{{ site.blog_url }}">Blogs</a>
            <a class="btn-secondary" href="{{ site.podcast_url }}">Podcast</a>
            <a class="btn-secondary" href="{{ site.video_url }}">Videos</a>
          </div>
      </div>

      <div class="blogpod-container-bottom">
          {% assign all_publications = site.publications | sort: "date" | reverse %}
          {% for publication in all_publications limit: 6 %}
            {% if publication.category == "blog" %}
              {% assign post = publication %}
              {% include thumbnail_blog.html pre_header="BLOG" %}
            {% elsif publication.category == "video" %}
              {% assign video = publication %}
              {% include thumbnail_video.html pre_header="VIDEO" %}
            {% elsif publication.category == "podcast" %}
              {% assign episode = publication %}
              {% include thumbnail_podcast.html pre_header="PODCAST" %}
            {% endif %}
          {% endfor %}
      </div>

  </div>
</section>
