---
title: Safing
home: true
---
<!DOCTYPE html>
<html lang={{ site.lang }}>
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  {% include header.html %}

  <content class="features">
    <div class="features-list">
      <img id="lock" src="{{ site.assets_url }}img/v3/lock.svg" alt="">
      <h1>True Privacy</h1>
      <p>
        Stay private while surfing the Web with
        you are in charge of where your traffic
        handle connections
      </p>
    </div>
    <div class="features-list">
      <img id="shield" src="{{ site.assets_url }}img/v3/shield.svg" alt="">
      <h1>Security</h1>
      <p>
        Stay private while surfing the Web with
        you are in charge of where your traffic
        handle connections
      </p>
    </div>
    <div class="features-list">
      <img id="community" src="{{ site.assets_url }}img/v3/community.svg" alt="">
      <h1>Community</h1>
      <p>
        Stay private while surfing the Web with
        you are in charge of where your traffic
        handle connections
      </p>
    </div>
  </content>
  <content class="map-features">
    <div class="map">
      <img src="{{ site.assets_url }}img/v3/map.png" alt="">
    </div>
    <div class="map-info">
      <h1>The next evolution of the internet.</h1>
      <p>
        it's the foundation we build our products on. We make
        sacrifices on  all other fronts to protect your privacyand
        push the limits of technology to do so.
      </p>
      <br>
      <p>
        it's the foundation we build our products on. We make
        other fronts to protect.
      </p>
      <div class="qoute">
        <img src="{{ site.assets_url }}img/v3/edward.png" alt="">
        <span>Edward Snowden</span>
        <p>
          “The way how VPNs work now are not good
          enough. Safing is pushing forward in the right
          direction for privacy.”
        </p>
      </div>
    </div>
  </content>
  <content class="key-features">
    <div class="key-info">
      <h1>Explore behavior indivildual</h1>
      <p>
        it's the foundation we build our products on. We make
        sacrifices on  all other fronts to protect your privacy and
        push the limits of technology to do so.
      </p>
      <br>
      <p>
        it's the foundation we build our products on. We make
        other fronts to protect.
      </p>

    </div>
    <div class="key-wrap">
      <div class="key-one">
        <img id="lock2" src="{{ site.assets_url }}img/v3/lock.svg" alt="">
        <h1>Privacy First</h1>
        <p>
          it's the foundation we build our
          sacrifices on  all other fronts
          push the limits of technology.
        </p>
      </div>
      <div class="key-two">
        <div>
          <img id="shield2" src="{{ site.assets_url }}img/v3/shield.svg" alt="">
          <h1>Open Source</h1>
          <p>
            it's the foundation we build our
            sacrifices on  all other fronts
            push the limits of technology.
          </p>
        </div>
        <div>
          <img id="community2" src="{{ site.assets_url }}img/v3/community.svg" alt="">
          <h1>Transparent</h1>
          <p>
            it's the foundation we build our
            sacrifices on  all other fronts
            push the limits of technology.
          </p>
        </div>
      </div>
    </div>
  </content>
  <content class="line-features">
    <h1>For us privacy isn't just a feature</h1>
    <p>
      it's the foundation we build our products on. We make
      sacrifices on  all other fronts to protect your privacy and
      push the limits of technology to do so.
    </p>
  </content>
  <content class="cast">
    <div class="cast-info">
      <h1>Stay up to dat with whats been going on</h1>
      <p>
        it's the foundation we build our products on. We make
        sacrifices on  all other fronts to protect your privacy and
        push the limits of technology to do so.
      </p>
      <br>
      <a href="">Check them out!</a>
    </div>
    <div class="cast-data">
      <div class="cast-audio">
        <img src="{{ site.assets_url }}img/v3/podcast.png" alt="">
        <div>
          <span>How to evaluate and trust a business?</span>
          <p>
            #004
          </p>
        </div>
      </div>
      <div class="cast-audio1">
        <img src="{{ site.assets_url }}img/v3/podcast.png" alt="">
        <div>
          <span>Privacy journey: The story of Raphty</span>
          <p>
            #003
          </p>
        </div>
      </div>
      <div class="cast-audio1">
        <img src="{{ site.assets_url }}img/v3/podcast.png" alt="">
        <div>
          <span>decisions that shift a company</span>
          <p>
            #002
          </p>
        </div>
      </div>
      <div class="cast-audio1">
        <img src="{{ site.assets_url }}img/v3/podcast.png" alt="">
        <div>
          <span>How to fund a privacy oriented start up</span>
          <p>
            #001
          </p>
        </div>
      </div>
    </div>
  </content>

  {% include footer.html %}
</body>
<foot>
</foot>
</html>
