---
title: Safing
---
%html{style: 'font-size: 1.3rem;'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Safing
    %link{rel: "stylesheet", href:"{{ site.vendor_url }}semantic/semantic.min.css", type:"text/css"}
    %script{src: "{{ site.vendor_url }}js/jquery-3.3.1.slim.min.js"}
    %script{src: "{{ site.vendor_url }}semantic/semantic.min.js"}

  %body
    %div.ui.basic.icon.mini.top.fixed.menu.mobile-only{style: 'background-color: #323e59;'}
      %img.ui.image{src: '/assets/logo_with_name.png', style: 'width: 10rem;'}
      %div.right.menu
        %a.toggle.item#toggle
          %i.sidebar.icon
    %div.ui.vertical.inverted.sidebar.menu.right.overlay
      %a.item
        %img.ui.image{src: '/assets/logo_with_name.png', style: 'width: 10rem;'}
      %a.item
        OUR VALUES
      %a.item
        TECHNOLOGY
      %a.item
        DOWNLOAD

    %div.ui.inverted.borderless.fixed.menu.mobile-hidden#menubar
      %div.borderless.menu{style: 'background-color: transparent;'}
        %a.item{href: 'https://safing.io/', style: 'padding: 0 6px;'}
          %img.ui.image{src: '/assets/logo_with_name.png', style: 'width: 10rem; '}
      %div.right.menu
        %a.item
          OUR VALUES
        %a.item
          TECHNOLOGY
        %a.item
          DOWNLOAD

    %div.pusher{style: "background-image: url('/assets/shortlandscape.png'); background-size: 100%;background-repeat: no-repeat; background-color: #e3e3e3 ;"}
      %div.ui.grid
        %div.computer.only.sixteen.wide.column{style: 'height: 10rem;'}
        %div.tablet.only.sixteen.wide.column{style: 'height: 5rem;'}
        %div.computer.tablet.only.two.wide.column
        %div.ten.wide.column
          %h1.ui.inverted.header
            BalalalalalMannn
          %a
            %button.ui.inverted.orange.huge.button
              Download
          %a
            %button.ui.basic.inverted.huge.button
              Learn more
        %div.tablet.only.sixteen.wide.center.aligned.column{style: 'padding-top: 10rem;'}
        %div.computer.only.sixteen.wide.center.aligned.column{style: 'padding-top: 18rem;'}
          %i.ui.chevron.down.icon{style: 'color: #f0903f80; font-size: 4rem;'}
      %div{style: "background-image: url('/assets/lighthouse.png'); background-position: bottom right; background-repeat: no-repeat; background-size: 44%;"}
        %div.ui.container
          %div.ui.basic.segment
            %div.ui.middle.aligned.centered.grid
              %div.mobile.tablet.only.column{style: 'width: 9rem;'}
                %img.ui.fluid.medium.right.floated.image{src: '/assets/portmasterhandy.png'}
              %div.ten.wide.computer.sixteen.wide.mobile.column

                %h2
                  Portmaster-Application Firewall
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %a
                  %button.ui.basic.button
                    Learn more
              %div.computer.only.column{style: 'width: 15rem;'}
                %img.ui.fluid.medium.right.floated.image{src: '/assets/portmasterbig.png'}

          %div.ui.basic.segment
            %div.ui.middle.aligned.centered.grid
              %div.computer.only.column{style: 'width: 15rem;'}
                %img.ui.fluid.medium.image{src: '/assets/gate17.png'}
              %div.mobile.tablet.only.column{style: 'width: 9rem;'}
                %img.ui.fluid.medium.image{src: '/assets/gate17.png'}
              %div.ten.wide.computer.sixteen.wide.mobile.right.aligned.column
                %h2
                  Gate17 is your secure network
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %a
                  %button.ui.right.floated.basic.button
                    Learn more

          %div.ui.basic.segment
            %div.ui.middle.aligned.centered.grid
              %div.mobile.tablet.only.column{style: 'width: 13rem;'}
                %img.ui.fluid.image{src: '/assets/box.png'}
              %div.ten.wide.computer.sixteen.wide.mobile.column
                %h2
                  Privacy First
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %a
                  %button.ui.basic.button
                    Learn more
              %div.computer.only.column{style: 'width: 20rem; padding: 0;'}
                %img.ui.fluid.image{src: '/assets/box.png'}

          %div.ui.basic.segment
            %div.ui.middle.aligned.centered.grid
              %div.computer.only.column{style: 'width: 20rem; padding: 0;'}
                %img.ui.fluid.image{src: '/assets/message_in_a_bottle.png'}
              %div.mobile.tablet.only.column{style: 'width: 13rem;'}
                %img.ui.fluid.image{src: '/assets/message_in_a_bottle.png'}
              %div.ten.wide.computer.sixteen.wide.mobile.right.aligned.column
                %h2
                  Open Source Ehtical Funding
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %a
                  %button.ui.right.floated.basic.button
                    Learn more

          %div.ui.basic.segment{style: 'padding-bottom: 5rem;'}
            %div.ui.middle.aligned.grid
              %div.eight.wide.computer.sixteen.wide.mobile.column
                %h2
                  Comunity
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                %a
                  %button.ui.basic.button
                    Learn more
      %div.ui.vertical.inverted.footer.segment{style: 'background-color: #d3d3d3ed;'}
        %div.container
          %div.ui.basic.middle.aligned.center.aligned.segment
            %p{style: 'word-spacing: 8rem;'}
              Interested? Eager? Confused?
            %div.ui.divider{style: 'border: 3px solid; margin: 0 25%; border-color: orange;'}
            %a{href: 'https://safing.io/'}
              %div.ui.basic.segment
                %h2
                  Get involved!
                %p
                  Be part of the team -
                  %span{style: 'color: orange;'}
                    join our community
                    %i.ui.users.icon
          %div.ui.secondary.inverted.three.item.stackable.menu
            %a.item{href: 'https://safing.io/'}
              Terms & Legal
            %a.item{href: 'https://safing.io/'}
              Community Hub
            %a.item{href: 'https://safing.io/'}
              %i.ui.envelope.outline.icon
              hello@safing.io

  :javascript
    $(document).ready(function() {

      $(".ui.sidebar").sidebar({
        dimPage          : true,
        transition       : 'overlay',
        mobileTransition : 'uncover'
      })
      $("#toggle").click(function() {
        $(".ui.sidebar").sidebar("toggle");
      });
      // set js style
     $("#menubar").css("background", "transparent").css("height", "7rem")

      $(window).scroll(function () {
        if ($(this).scrollTop() >= 150) {
           $("#menubar").css("background", "#323e59").css("height", "1rem")
        } else {
           $("#menubar").css("background", "transparent").css("height", "7rem")
        }
      })
    })

  :css
    /*
    // Semantic UI has these classes, however they're only applicable to
    // grids, containers, rows and columns.
    // plus, there isn't any `mobile hidden`, `X hidden` class.
    // this snippet is using the same class names and same approach
    // plus a bit more but to all elements.
    //
    // see https://github.com/Semantic-Org/Semantic-UI/issues/1114
    */

    /* Mobile */
    @media only screen and (max-width: 767px) {
      [class*="mobile-hidden"],
      [class*="tablet-only"]:not(.mobile),
      [class*="computer-only"]:not(.mobile),
      [class*="large-screen-only"]:not(.mobile),
      [class*="widescreen-only"]:not(.mobile),
      [class*="or-lower-hidden"] {
        display: none !important;
      }
    }

    /* Tablet / iPad Portrait */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      [class*="mobile-only"]:not(.tablet),
      [class*="tablet-hidden"],
      [class*="computer-only"]:not(.tablet),
      [class*="large-screen-only"]:not(.tablet),
      [class*="widescreen-only"]:not(.tablet),
      [class*="or-lower-hidden"]:not(.mobile) {
        display: none !important;
      }
    }

    /* Computer / Desktop / iPad Landscape */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      [class*="mobile-only"]:not(.computer),
      [class*="tablet-only"]:not(.computer),
      [class*="computer-hidden"],
      [class*="large-screen-only"]:not(.computer),
      [class*="widescreen-only"]:not(.computer),
      [class*="or-lower-hidden"]:not(.tablet):not(.mobile) {
        display: none !important;
      }
    }

    /* Large Monitor */
    @media only screen and (min-width: 1200px) and (max-width: 1919px) {
      [class*="mobile-only"]:not([class*="large-screen"]),
      [class*="tablet-only"]:not([class*="large-screen"]),
      [class*="computer-only"]:not([class*="large-screen"]),
      [class*="large-screen-hidden"],
      [class*="widescreen-only"]:not([class*="large-screen"]),
      [class*="or-lower-hidden"]:not(.computer):not(.tablet):not(.mobile) {
        display: none !important;
      }
    }

    /* Widescreen Monitor */
    @media only screen and (min-width: 1920px) {
      [class*="mobile-only"]:not([class*="widescreen"]),
      [class*="tablet-only"]:not([class*="widescreen"]),
      [class*="computer-only"]:not([class*="widescreen"]),
      [class*="large-screen-only"]:not([class*="widescreen"]),
      [class*="widescreen-hidden"],
      [class*="widescreen or-lower hidden"] {
        display: none !important;
