---
title: The Safing Podcast
layout: podcast
---

<div class="ui divided items">
  {% assign sorted_podcasts = site.podcasts | reverse %}
  {% for episode in sorted_podcasts %}
    <div class="item">
      <a class="ui image" href="{{ episode.url }}">
        <span class="ui large text">
          #{{ episode.title | slice: 2, 2 }}
        </span>
      </a>
      <div class="middle aligned content">
        {% assign title_length = episode.title | size %}
        <a class="description" href="{{ episode.url }}">{{ episode.title | slice: 7, title_length }}</a>
        <div class="meta">
          <span class="ui small text">
            {% for host in episode.hosts %}
              <i class="user icon"></i>{{ host }}
            {% endfor %}
          </span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
