---
title: The Safing Podcast
layout: page
---

<section>
  <div class="blogpod-container mt-80">
      <div class="blogpod-container-top">
          <span class="blogpod-container-top-bg-title">Follow Us</span>
          <h2 class="blogpod-container-top-title">
              Podcast
          </h2>
          <div class="blogpod-container-top-extra">
              <a class="link-secondary" href="{{ site.podcast_itunes_url }}"><i class="icon-podcast"></i></a>
              <a class="link-secondary" href="{{ site.podcast_feed_url }}"><i class="icon-rss"></i></a>
          </div>
      </div>
      <div class="blogpod-container-bottom">
        {% assign sorted_podcasts = site.publications | reverse | where:"category","podcast" %}
        {% for episode in sorted_podcasts %}
          {% include thumbnail_podcast.html %}
        {% endfor %}
      </div>
  </div>
</section>
