---
title: The Safing Podcast
layout: page
---

<section class="pt-64">
  <div class="items-center h-full">
    <div class="container mx-auto px-8 sm:px-0 flex">
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:flex">
        <div class="py-12 bg-white">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center">
              <!-- hide the huge "Follow Us" in mobile & md devices for now, made width problems -->
              <span style="font-size: 12rem; font-weight: 800; margin-top: -9rem; opacity: 0.05;" class="z-0 ml-0 w-full left-0 text-center absolute bg-top hidden lg:block">Follow Us</span>
              <h2 class="text-5xl tracking-tight font-extrabold leading-none py-10 text-center">Podcast</h2>
              <div class="flex mx-auto justify-center pt-5">
                <a href="{{ site.podcast_itunes_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
                  <img style="height: 1.3rem; width: auto;" src="{{ site.img_url }}icons/podcast.svg">
                </a>
                <a href="{{ site.podcast_feed_url }}" class="pl-4 pr-4  opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
                  <img style="height: 1.3rem; width: auto;" src="{{ site.img_url }}icons/rss.svg">
                </a>
              </div>
            </div>
            <div class="mt-32">
              <ul class="md:grid md:grid-cols-2 lg:grid-cols-3 md:col-gap-8 md:row-gap-10">
                {% assign sorted_podcasts = site.podcasts | reverse %}
                {% for episode in sorted_podcasts %}
                <li class="mt-10 md:mt-0">
                  <div class="block transform hover:scale-95 duration-150 ease-in-out">
                    <a href="{{ episode.url }}">
                      <div class="relative" style="max-width: 365px;">
                        {% if episode.custom_thumbnail_name == null %}
                        <img src="{{ site.img_url }}thumbnails/podcast/placeholder.png">
                      {% else %}
                        <img src="{{ site.img_url }}thumbnails/podcast/{{ episode.custom_thumbnail_name }}.png">
                      {% endif %}
                        <span class="absolute text-white right-0 bottom-0 pr-3 pb-3" style="font-size: 3.1rem; font-weight: 800;" >#{{ episode.title | slice: 2, 2 }}</span>
                      </div>
                      <span style="font-size: 12rem; font-weight: 800; margin-top: -13.8rem; margin-left: -0.8rem;" class=" z-0 absolute bg-top">
                        <button type="button" style="background-color: #6188ff;" class="inline-flex items-center px-3 py-3 rounded-md border border-transparent text-xs leading-5 font-extrabold  text-white">
                          <svg class="h-8 w-auto lg:h-7" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none">
                              <path d="M0 0h24v24H0z"/>
                              <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M12 15v0c-1.657 0-3-1.343-3-3V6c0-1.657 1.343-3 3-3v0c1.657 0 3 1.343 3 3v6c0 1.657-1.343 3-3 3z"/>
                              <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M18 10v2c0 3.314-2.686 6-6 6v0c-3.314 0-6-2.686-6-6v-2M12 18v3M7.82 21h8.36"/>
                            </g>
                          </svg>
                        </button>
                      </span>
                      <div class="pt-6">
                        <span class="opacity-25">{{ episode.date | date: "%-d. %b %Y" }}</span>
                        {% assign title_length = episode.title | size %}
                        <p>{{ episode.title | slice: 7, title_length }} - #{{ episode.title | slice: 2, 2 }}</p>
                      </div>
                    </a>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <br class="mb-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
