---
title: Safing Ownership
layout: page
redirect_from:
  - /donate/
---

<section class="space-y-80">
  <div class="showcase-container-reverse mt-32">
      <div class="showcase-left">
          <h2 class="showcase-left-title" style="max-width: 450px;">
            We own Safing 
          </h2>
          <p class="showcase-left-desc">
            We do not want parties to gain influence which do not or might not stand 
            behind our values. That is why in the initial funding phase we took more 
            personal risks instead of selling parts of our company for easy money.
            <br>
            <br>
            The legal entity behind Safing is <i>Safing ICS Technologies GmbH</i>, a 
            private company registered in Austria.
          </p>
          <a class="btn-secondary" href="{{ site.company_agreement_url }}">View public registry</a>
      </div>
      <div class="showcase-right" style="max-width: 1050px;">
          <img src="{{ site.img_url }}page-specific/ownership/ownership.png" alt="">
      </div>
  </div>
  <div class="showcase-container">
      <div class="showcase-left">
          <h2 class="showcase-left-title">
            Financed by Grants, Loans and <span style="color: #6188ff;">You</span>
          </h2>
          <p class="showcase-left-desc">
            We are thankful for all the partnerships & possibilities that are emerging 
            from our R&D heavy years in which we are exploring new privacy frontiers.
            <br>
            <br>
            Slowly but surely we are migrating into our dream scenario where we only 
            have to rely on the support and trust of our users. Help us get there by 
            using the Portmaster and later down the road, purchasing the SPN.
          </p>
          <a class="btn-secondary" href="#">Discover the portmaster</a>
      </div>
      <div class="showcase-right" style="max-width: 850px;">
          <img src="{{ site.img_url }}page-specific/ownership/influences.png" alt="">
      </div>
  </div>
  <div class="influence-container">
      <div class="influence-container-top">
          <div class="influence-container-top-title-date">
              <h2 class="influence-container-top-title">
                  Influences
              </h2>
              <span class="influence-container-top-data">updated May 2021</span>
          </div>
          <p class="influence-container-top-desc">
              Through these partnerships we are not only receiving funding, but
              much needed support, advice, training, encouragement and helpful
              criticism.
              <br>
              <br>
              To everyone involved - you know who you are: Thank you so much, we
              would not be here without you!
          </p>
      </div>
      <div class="influence-container-bottom">
        {% for influence in site.data.finances %}
          <div class="card-influence">
            <div class="card-influence-top ">
                <div class="card-influence-title-date">
                    <span class="card-influence-title">{{ influence.name }}</span>
                    <span class="card-influence-top-date">{{ influence.timespan }}</span>
                </div>
                <p class="card-influence-top-desc">
                  <div class="mardown-container px-0">
                    {{ influence.description | markdownify }}
                  </div>
                </p>
            </div>
            <div class="card-influence-bottom">
              {% for year in influence.years %}
                <div class="card-influence-funding">
                  <span class="card-influence-date">{{ year.year }}</span>
                  {% for item in year.items %}
                    <span class="card-influence-amount">
                      {% if item.status == "completed" %}
                        <span>Received</span>
                      {% endif %}
                        <span class="font-extrabold">{{ item.amount }}€ {{ item.type }}</span>
                      {% if item.status == "open" %}
                        <small>held out in prospect</small>
                      {% endif %}
                    </span>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
</section>