---
title: Safing Backlog
layout: page
---

<!-- Project Priority according to next.yml -->

{% assign all_cards = site.data.backlog.cards %}
{% assign portmaster_cards = all_cards | where_exp: "card", "card.projects contains 'Portmaster'" %}
{% assign spn_cards = all_cards | where_exp: "card", "card.projects contains 'SPN'" %}
{% assign website_cards = all_cards | where_exp: "card", "card.projects contains 'Website'" %}
{% assign community_cards = all_cards | where_exp: "card", "card.projects contains 'Community'" %}
{% assign marketing_cards = all_cards | where_exp: "card", "card.projects contains 'Marketing'" %}
{% assign backoffice_cards = all_cards | where_exp: "card", "card.projects contains 'Back Office'" %}

<header class="header-three-container mt-32">
  <div class="header-three-left">
      <span class="header-three-left-data">
        02.06.2021
      </span>
      <h1 class="header-three-left-title">
          Backlog
      </h1>
      <p class="header-three-left-desc">
          A big picture overview of our current
          mid- and long-term plans.
      </p>
      <div class="header-three-left-jump space-x-3">
          <span class="title">Jump to:</span>
          <div class="tag-list">
              {% if portmaster_cards.size > 0 %}
              <a href="#portmaster" class="flex-1 pr-2" style="word-break: normal;">
                {% include tag.html tag='Portmaster' %}
              </a>
              {% endif %}
              {% if spn_cards.size > 0 %}
                <a href="#spn" class="flex-1 pr-2" style="word-break: normal;">
                  {% include tag.html tag='SPN' %}
                </a>
              {% endif %}
              {% if website_cards.size > 0 %}
                <a href="#website" class="flex-1 pr-2" style="word-break: normal;">
                  {% include tag.html tag='Website' %}
                </a>
              {% endif %}
              {% if community_cards.size > 0 %}
                <a href="#community" class="flex-1 pr-2" style="word-break: normal;">
                  {% include tag.html tag='Community' %}
                </a>
              {% endif %}
              {% if marketing_cards.size > 0 %}
                <a href="#marketing" class="flex-1 pr-2" style="word-break: normal;">
                  {% include tag.html tag='Marketing' %}
                </a>
              {% endif %}
              {% if backoffice_cards.size > 0 %}
                <a href="#backoffice" class="flex-1 pr-2" style="word-break: normal;">
                  {% include tag.html tag='Back Office' %}
                </a>
              {% endif %}
              <!-- <a class="tag-spn" href=""> SPN </a>
              <a class="tag-spn" href=""> SPN </a>
              <a class="tag-spn" href=""> SPN </a> -->
          </div>
      </div>
      <p class="header-three-left-extra">
          Disclaimer: Even if we'd love to accomplish everything
          listed below, some projects may turn out to be unfeasible.
      </p>
  </div>
  <div class="header-three-right">
    {% assign progress_posts = site.publications | reverse | where: "progress_update", "true" %}
    {% for post in progress_posts limit: 1 %}
      {% include thumbnail_blog.html pre_header="BLOG" %}
    {% endfor %}
  </div>
</header>
<section class="general-layout">
  {% if portmaster_cards.size > 0 %}
    <div class="collection-container">
      <div class="collection-container-top">
          <div class="collection-container-top-title-counter items-center">
              <span class="collection-container-top-title">
                Portmaster
              </span>
              <span class="text-sm collection-container-top-counter">
                ({{ portmaster_cards.size }})
              </span>
          </div>
      </div>
      <div class="collection-container-bottom">
        {% for card in portmaster_cards %}
          {% include project_card.html state='backlog' project='portmaster' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if spn_cards.size > 0 %}
    <div class="collection-container">
      <div class="collection-container-top">
          <div class="collection-container-top-title-counter items-center">
              <span class="collection-container-top-title">
                Safing Privacy Network
              </span>
              <span class="text-sm collection-container-top-counter">
                ({{ spn_cards.size }})
              </span>
          </div>
      </div>
      <div class="collection-container-bottom">
        {% for card in spn_cards %}
          {% include project_card.html state='backlog' project='spn' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if website_cards.size > 0 %}
    <div class="collection-container">
      <div class="collection-container-top">
          <div class="collection-container-top-title-counter items-center">
              <span class="collection-container-top-title">
                Website
              </span>
              <span class="text-sm collection-container-top-counter">
                ({{ website_cards.size }})
              </span>
          </div>
      </div>
      <div class="collection-container-bottom">
        {% for card in website_cards %}
          {% include project_card.html state='backlog' project='website' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if community_cards.size > 0 %}
    <div class="collection-container">
      <div class="collection-container-top">
          <div class="collection-container-top-title-counter items-center">
              <span class="collection-container-top-title">
                Community
              </span>
              <span class="text-sm collection-container-top-counter">
                ({{ community_cards.size }})
              </span>
          </div>
      </div>
      <div class="collection-container-bottom">
        {% for card in community_cards %}
          {% include project_card.html state='backlog' project='community' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if marketing_cards.size > 0 %}
    <div class="collection-container">
      <div class="collection-container-top">
          <div class="collection-container-top-title-counter items-center">
              <span class="collection-container-top-title">
                Marketing
              </span>
              <span class="text-sm collection-container-top-counter">
                ({{ marketing_cards.size }})
              </span>
          </div>
      </div>
      <div class="collection-container-bottom">
        {% for card in marketing_cards %}
          {% include project_card.html state='backlog' project='marketing' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if backoffice_cards.size > 0 %}
    <div class="collection-container">
      <div class="collection-container-top">
          <div class="collection-container-top-title-counter items-center">
              <span class="collection-container-top-title">
                Back Office
              </span>
              <span class="text-sm collection-container-top-counter">
                ({{ backoffice_cards.size }})
              </span>
          </div>
      </div>
      <div class="collection-container-bottom">
        {% for card in backoffice_cards %}
          {% include project_card.html state='backlog' project='backoffice' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</section>
