---
title: Safing Team
layout: page
---

<div class="header-four-container mt-48">
  <span class="header-four-container-counter">Team</span>
  <h1 class="header-four-container-title">Who We Are</h1>
</div>
<section class="general-layout">
  <div class="space-y-28">
    <div class="space-y-40">
      {% for member in site.data.team.members %}
        <div class="team-member" id="{{ member.name | slugify }}">
          <div class="team-member-left">
              <div class="team-member-left-profile relative">
                  <img src="{{ site.img_url }}profiles/{{ member.name | slugify }}.png" alt="{{ member.name }}">
              </div>
              <div class="team-member-left-scoial">
                {% for handle in member.handles %}
                  <a href="{{ handle.external_url }}" target="_blank"><i class="icon-{{ handle.icon }} text-md"></i></a>
                {% endfor %}
              </div>
          </div>
          <div class="team-member-right">
              <span class="team-member-right-postion">
                {{ member.title }}
              </span>
              <span class="team-member-right-name">
                {{ member.name }}
              </span>
              <span class="team-member-right-date">
                Joined {{ member.joined }}
              </span>
              <p class="team-member-right-desc">
                {{ member.description }}
              </p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="horizontal-line max-w-5xl mx-auto"></div>
    <div class="space-y-40">
      <div class="header-three-container">
        <h2 class="text-5xl">Past Members</h2>
      </div>
      {% for prev in site.data.team.previous %}
        <div class="team-member" id="{{ prev.name | slugify }}">
          <div class="team-member-left">
              <div class="team-member-left-profile relative">
                  <img src="{{ site.img_url }}profiles/{{ prev.name | slugify }}.png" alt="{{ prev.name }}">
              </div>
              <div class="team-member-left-scoial">
                {% for handle in prev.handles %}
                  <a href="{{ handle.prev_url }}" target="_blank"><i class="icon-{{ handle.icon }} text-md"></i></a>
                {% endfor %}
              </div>
          </div>
          <div class="team-member-right">
              <span class="team-member-right-postion">
                {{ prev.title }}
              </span>
              <span class="team-member-right-name">
                {{ prev.name }}
              </span>
              <span class="team-member-right-date">
                {{ prev.joined }}
              </span>
              <p class="team-member-right-desc">
                {{ prev.description }}
              </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
