<span class="community-snippet">
  <aside>
    <div class='ui vertical footer segment snippet'>
      <div class="container">
        <div class='ui basic middle aligned center aligned segment' style="margin: 1rem !important;">
            {% if page.community_snippet_intro %}
              <p>
                {{ page.community_snippet_intro }}
              </p>
            {% else %}
              <p style='word-spacing: 30px; margin: 0;'>
                Interested? Eager? Confused?
              <p>
            {% endif %}
        </div>
        <div class='ui divider'></div>
          <div class="ui center aligned basic segment">
            <a class="ui basic button" href='{{ site.community_hub_url }}'>
              <!-- <button class="ui basic button"> -->
                <h2>
                  Get involved!
                </h2>
                <p>
                  Be part of the team -
                  <span class="color-primary">
                    join our community
                    <i class='ui users icon'></i>
                  </span>
                </p>
            <!-- </button> -->
          </a>
        </div>
      </div>
    </div>
  </aside>
</span>
