<span class="community-snippet">
  <aside>
    <div class='ui vertical footer segment snippet'>
      <div class="ui center aligned middle aligned grid hidden-on-tablet-and-lower" style="margin: 0 30%;">
        <div class="four wide column" style="padding: 1rem 0;">
          <img class='ui centered image' src='{{ site.assets_url }}img/icons/community_logo.svg' style='width: 6rem; padding-top: 0.1rem;'>
        </div>
        <div class="twelve wide column" style="padding: 1.2rem 0 1rem 0;">
          <p >
            {% if page.community_snippet_intro %}
              <p >
                {{ page.community_snippet_intro }}
              </p>
            {% else %}
              <p style='word-spacing: 20px;'>
                Interested? Eager? Confused?
              <p>
            {% endif %}
          </p>

          <div class='ui clearing divider'>
        </div>

        <h2>
          Get involved!
        </h2>
      </div>
        <div class="sixteen wide column" style="padding: 0 0 1rem 0;">
          <a href="/community-hub">
            <button class='ui safing-primary button'>
              Join our community
            </button>
          </a>
        </div>
      </div>
      <!-- Mobile -->
      <div class="ui center aligned grid hidden-on-computer-and-wider " style="margin: 0;">
        <div class="sixteen wide column" style="padding: 1rem 0 0 0;">
          <p >
            {% if page.community_snippet_intro %}
              <p >
                {{ page.community_snippet_intro }}
              </p>
            {% else %}
              <p style='word-spacing: 20px;'>
                Interested? Eager? Confused?
              <p>
            {% endif %}
          </p>

          <div class='ui clearing divider'>
        </div>

        <h2>
          Get involved!
        </h2>
      </div>
        <div class="sixteen wide column" style="padding: 0 0 1rem 0;">
          <a href="/community-hub">
            <button class='ui safing-primary button'>
              Join our community
            </button>
          </a>
        </div>
      </div>
    </div>
  </aside>
</span>
