<div class="hidden lg:block">
  <div class="download-container">
    <div class="card-package darkmode relative mx-auto" style="max-width: 1210px; width: 100%;">
        <div class="card-package-top" style="margin-top: 0;">
          <span class="card-package-top-amount" style="font-size: 2rem;">
              Protect Your Device Today
          </span>
          <p class="card-package-top-desc" style="max-width: 400px;">Portmaster is not only very powerful, but is also free & open source.</p>
          </div>
        <div class="card-package-bottom transform scale-105" style="position: absolute; width: 100%; left: 0; bottom: 0px; display: flex; justify-content: end; height: 100%;">
          <div class="hidden lg:block"  style="display: flex; align-items: center; margin-right: 4rem;">
              {% include download_button.html unique_id="2" %}
            </div>
        </div>
    </div>
    <div class="flex mx-auto w-max mt-8 space-x-8 items-center" style="align-items: center;">
        <p class="block text-safing-gray-400">Seen and featured on</p>
        <div class=" space-x-8 hidden lg:flex" style="align-items: center;">
            <a href="{{ site.seen_itsfoss_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}external/itsfoss.png"></a>
            <a href="{{ site.seen_privacytools_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}external/privacytools.png"></a>
            <a href="{{ site.seen_techlore_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}external/techlore.png"></a>
            <a href="{{ site.seen_ghacks_url }}" class="hover-scale-in cursor-pointer hover-grayscale-in"><img src="{{ site.img_url }}external/ghacks.png"></a>
        </div>
    </div>
  </div>
</div>
