<div class="download-button-container">
    <label class="download-select-label" for="select-{{ include.unique_id }}"><i class="icon-arrow  text-white"></i></label>
    <input type="checkbox" id="select-{{ include.unique_id }}" class="download-select-input">
    <label class="download-os download-os-windows" for="windows-{{ include.unique_id }}">Windows (.exe)</label>
    <input checked="" id="windows-{{ include.unique_id }}" type="radio" class="download-os" name="os-{{ include.unique_id }}">
    <div class="download-os-actions">
        <a class="button-left" href="{{ site.download_windows_url_v2 }}">Free Download</a>
        <button class="button-right">Windows</button>
    </div>
    <label class="download-os download-os-ubuntu" for="ubuntu-{{ include.unique_id }}">Debian/Ubuntu (.deb)</label>
    <input id="ubuntu-{{ include.unique_id }}" type="radio" class="download-os" name="os-{{ include.unique_id }}">
    <div class="download-os-actions">
        <a class="button-left" href="{{ site.download_linux_deb_url_v2 }}">Free Download</a>
        <button class="button-right">Ubuntu</button>
    </div>
    <label class="download-os download-os-fedora" for="fedora-{{ include.unique_id }}">Fedora (.rpm)</label>
    <input id="fedora-{{ include.unique_id }}" type="radio" class="download-os" name="os-{{ include.unique_id }}">
    <div class="download-os-actions">
        <a class="button-left" href="{{ site.download_linux_rpm_url_v2 }}">Free Download</a>
        <button class="button-right">Fedora</button>
    </div>
    <div class="download-os-menu"></div>
</div>
