<div id="floating-button">
  <button class="ui circular icon button sidebar-toggle safing-full">
    <i class="sidebar icon"></i>
  </button>
  <div class="spacer"></div>
  <a href="https://old.reddit.com/r/safing" target="_blank">
    <button class="ui circular icon button safing-full">
      <i class="reddit icon"></i>
    </button>
  </a>
</div>

<script type="text/javascript">

  function scrollFunction() {
    {% if include.heightref %}
    var h = document.getElementById('{{ include.heightref }}').offsetTop
    {% else %}
    var h = (window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight) / 4
    {% endif %}
    if (document.body.scrollTop > h || document.documentElement.scrollTop > h) {
      document.getElementById("floating-button").classList.add("visible");
    } else {
      document.getElementById("floating-button").classList.remove("visible");
    }
  }
  window.onscroll = scrollFunction

</script>
