<footer class="footer mt-60">
  <div class="footer-form-wrapper">
      <span class="footer-form-title">Stay Connected via Newsletter</span>
      <form class="footer-form" action="https://t80607841.emailsys1a.net/184/1387/c70759e794/subscribe/form.html" method="post">
          <div class="footer-form-subscribe">
              <input class="input-rounded-primary w-full" type="email" name="email" required placeholder="email">
              <input class="btn-primary" type="submit" value="Subscribe">
          </div>
          <div class="footer-form-legal">
            <input class="toggle" type="checkbox" id="consent_text" name="consent_text" value="yes" required="">
              <div>
                  <label class="consent cursor-pointer opacity-55 text-safing-gray-500" for="consent_text">
                      I agree that Safing &
                      <a class="link-primary-external" href="https://rapidmail.de" target="_blank">rapidmail.de</a>
                      may process and use the email for newsletter purposes.
                  </label>
              </div>
          </div>
      </form>
  </div>
  <div class="footer-wrapper">
      <div class="footer-category">
          <div class="footer-category-title">
              <span>Company</span>
          </div>
          <div class="footer-links">
              <div class="footer-links-left">
                <a href="{{ site.about_url }}" class="footer-link"> About Us </a>
                <a href="{{ site.business_model_url }}" class="footer-link"> Business Model </a>
                <a href="{{ site.ownership_url }}" class="footer-link"> Ownership </a>
                <div class="flex items-center space-x-2">
                    <span class="dot pulse-opacity-out-in" style="position: relative;"></span>
                    <a href="{{ site.jobs_url }}" class="footer-link"> We're Hireing </a>
                </div>
                <a href="{{ site.help_url }}" class="footer-link"> Get Help </a>
              </div>
          </div>
      </div>
      <div class="vertical-line"></div>
      <div class="footer-category">
          <div class="footer-category-title">
              <span>Community</span>
          </div>
          <div class="footer-links">
              <div class="footer-links-left">
                <a href="{{ site.next_page_url }}" class="footer-link"> What's Next? </a>
                <div class="flex  items-center space-x-2">
                    <a href="{{ site.blog_url }}" class="footer-link"> Blog </a>
                    <a href="{{ site.blog_feed_url }}" class="footer-link"><i class="icon-rss text-xs"></i></a>
                </div>
                <div class="flex  items-center space-x-2">
                    <a href="{{ site.podcast_url }}" class="footer-link"> Podcast </a>
                    <a href="{{ site.podcast_feed_url }}" class="footer-link"><i class="icon-rss text-xs"></i></a>
                </div>
                <a href="{{ site.video_url }}" class="footer-link"> Videos </a>
              </div>
              <div class="footer-links-right">
                <a href="{{ site.docs_code_of_conduct_url }}" class="footer-link"> Code of Conduct </a>
                <a href="{{ site.github_url }}" class="footer-link"> Github </a>
                <a href="{{ site.reddit_url }}" class="footer-link"> Reddit </a>
                <a href="{{ site.twitter_url }}" class="footer-link"> Twitter </a>
              </div>
          </div>
      </div>
      <div class="vertical-line"></div>
      <div class="footer-category">
          <div class="footer-category-title">
              <span>Portmaster</span>
          </div>
          <div class="footer-links">
              <div class="footer-links-left">
                  <a href="{{ site.portmaster_url }}" class="footer-link"> Discover </a>
                  <a href="{{ site.docs_url }}portmaster/architecture/overview" class="footer-link"> Documentation </a>
                  <a href="{{ site.github_url }}/portmaster/" class="footer-link"> Source Code </a>
                  <a href="{{ site.backlog_url }}#portmaster" class="footer-link"> Backlog </a>
              </div>
          </div>
      </div>
      <div class="footer-category">
          <div class="footer-category-title">
              <span>SPN</span>
              <div class="horizontal-line"></div>
          </div>
          <div class="footer-links">
              <div class="footer-links-left">
                  <a href="{{ site.spn_url }}" class="footer-link"> Discover </a>
                  <a href="{{ site.whitepaper_url }}" class="footer-link"> Whitepaper </a>
                  <a href="{{ site.github_url }}/spn/" class="footer-link"> Source Code </a>
                  <a href="{{ site.backlog_url }}#spn" class="footer-link"> Backlog </a>
              </div>
              <div class="footer-links-right">
                  <a href="{{ site.tor_comparison_url }}" class="footer-link"> vs Tor </a>
                  <a href="{{ site.vpn_comparison_url }}" class="footer-link"> vs VPNs </a>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-legal">
      <div class="footer-legal-wrapper">
          <span class="footer-legal-copyright">
              © 2021 Safing ICS Technologies GmbH
          </span>
          <div class="footer-legal-links">
              <a href="{{ site.terms_url }}" class="footer-legal-link"> Terms of Service </a>
              <a href="{{ site.privacy_url }}" class="footer-legal-link"> Privacy Policy </a>
              <a href="{{ site.contact_url }}" class="footer-legal-link"> Contact & Notice </a>
          </div>
      </div>
      <span class="footer-legal-extra">
          Companies mentioned are by way of example and are an opinion only, not based on fact.
      </span>
  </div>
</footer>