<section class="footer-section">
  <div class="ui stackable five column grid">
    <div class="row">
      <div class="column"></div>
      <div class="column">
        <a href="/terms">Terms & Privacy Policy</a>
      </div>
      <div class="column">
        <a href="{{ site.community_hub_url }}"> Community Hub </a>
      </div>
      <div class="column">
        <a href="/contact">Contact</a>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>

<!-- END PUSHER -->
</div>
