<!-- meta -->
<meta charset={{ site.encoding }}>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<title>{% if page.type == "podcast" %}The Safing Podcast {{ page.title }}{% elsif page.type == "post" %}Safing Blog: {{ page.title }}{% elsif page.title == "Safing" %}{{ page.title }}{% else %}Safing {{ page.title }}{% endif %}</title>

<!-- Favicon and other icons (made with http://www.favicon-generator.org/) -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.assets_url }}icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.assets_url }}icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.assets_url }}icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.assets_url }}icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.assets_url }}icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.assets_url }}icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.assets_url }}icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.assets_url }}icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.assets_url }}icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.assets_url }}icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.assets_url }}icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.assets_url }}icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.assets_url }}icons/favicon-16x16.png">
<link rel="manifest" href="{{ site.assets_url }}icons/manifest.json">
<meta name="msapplication-TileColor" content="#f7f7f7">
<meta name="msapplication-TileImage" content="{{ site.assets_url }}icons/ms-icon-144x144.png">
<meta name="theme-color" content="#f7f7f7">

<link rel="stylesheet" href="{{ site.vendor_url }}semantic/semantic.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.vendor_url }}css/fonts-roboto.css" type="text/css">
<link rel="stylesheet" href="{{ site.assets_url }}css/main.css" type="text/css">

<script src="{{ site.vendor_url }}js/jquery-3.3.1.slim.min.js"></script>
<script src="{{ site.vendor_url }}semantic/semantic.min.js"></script>
