<nav id="mainNav" class="navbar navbar-default {% if page.url == site.base_url %}navbar-fixed-top{% else %}navbar-static{% endif %}">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll logo-sitename" href="{% if page.url == "/" %}#top{% else %}/{% endif %}">
        <img class="logo-name" src="{{ site.assets_url }}{{ site.logo }}" alt="{{ site.title }}">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for menu in site.data.header.menus %}
          {% if menu.dropdown %}
            <li class="dropdown">
              <a class="page-scroll" href="{{ menu.url }}">{{ menu.title }}</a>

              <ul class="our-values-dropdown dropdown-menu nav navbar-nav navbar-right text-uppercase">
                {% for submenu in menu.submenus %}
                  <li><a href="{{ submenu.url }}"><strong>{{ submenu.title }}</strong></a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a class="page-scroll" href="{{ menu.url }}">{{ menu.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
