<header class="header-one-container">
  <div class="header-one-left">
    <span style="margin-top: -8rem; margin-left: 14rem; z-index: -1;" class="absolute">
      <img src="{{ site.img_url }}/shapes/circle-md-2.png" alt="">
    </span>
    <h1 class="header-one-left-title">
      <span class="text-safing-blue-500">Fight surveillance</span>
      because you
      <span class="text-safing-blue-500">love&nbsp;Freedom</span>.
    </h1>
    <p class="header-one-left-desc">
      Without privacy there is no freedom of press, no freedom of speech,
      not even freedom of thought.
    </p>
    <a class="btn-secondary" href="{{ site.portmaster_url }}">Take back your freedom</a>
  </div>
  <div class="header-one-right">
    <img class="max-w-2xl" src="{{ site.img_url }}freedom.gif" alt="">
  </div>
  <span style="z-index: -1;" class="-bottom-12 left-0 absolute hidden xl:block">
    <img src="{{ site.img_url }}/shapes/corner-bl.png" alt="">
  </span>
</header>
