<div class="prev-next-container">
  {% if page.next.url %}
    <div class="prev-next-container-next">
      {% if page.next.category == "blog" %}
        {% assign next_type = "Blog Post" %}
      {% elsif page.next.category == "video" %}
        {% assign next_type = "Video" %}
      {% elsif page.next.category == "podcast" %}
        {% assign next_type = "Podcast" %}
      {% endif %}
      <span class="prev-next-container-next-title">
        Next {{ next_type }}
      </span>
      <a href="{{ page.next.url }}" class="link-primary">{{ page.next.title }}</a>
    </div>
  {% endif %}
  {% if page.previous.url %}
    <div class="prev-next-container-previous">
      {% if page.previous.category == "blog" %}
        {% assign previous_type = "Blog Post" %}
      {% elsif page.previous.category == "video" %}
        {% assign previous_type = "Video" %}
      {% elsif page.previous.category == "podcast" %}
        {% assign previous_type = "Podcast" %}
      {% endif %}
      <span class="prev-next-container-next-title">
        Previous {{ previous_type }}
      </span>
      <a href="{{ page.previous.url }}" class="link-primary">{{ page.previous.title }}</a>
    </div>
  {% endif %}
</div>
