<a class="advert-container" href="{{ site.portmaster_url }}">
  <div class="advert-container-left">
      <span class="advert-container-left-title">Discover the Portmaster</span>
      <span class="advert-container-left-sub">Open Source. Free Forever.</span>
      <div class="advert-container-left-button btn bg-black text-safing-blue-400">Take Back Control</div>
  </div>
  <div class="absolute mx-auto right-0 left-0 rounded-md flex items-center overflow-hidden" style="max-width: 950px; height: inherit;">
      <img class="absolute right-0 bottom-0 hidden lg:block max-w-5xl lg:max-w-full" style="margin-right: -28.8rem; margin-bottom: -14.1rem;" src="{{ site.img_url }}page-specific/portmaster/full-interface.png" alt="">
  </div>
  <img class="hidden lg:block absolute -right-8 -bottom-8" style="z-index: 1;" src="{{ site.img_url }}/shapes/circle-md-2.png" alt="">
</a>
