<div class="card-package darkmode" style="height: 650px;">
    <div class="card-package-top">
        <div class="flex">
            <span class="card-package-top-title">Portmaster Free</span>
        </div>
        <span class="card-package-top-amount">
            Free
            <span class="card-package-top-amount-monthly">/ Forever</span>
        </span>
        <p class="card-package-top-desc" style="max-width: 480px;">Regain Control.</p>
    </div>
    <div class="card-package-middle">
        <span class="card-package-middle-includes">
            Features
        </span>

        <span class="card-package-middle-includes-feature">
            <i class="icon-tick text-green-400 mr-1"></i> Privacy
        </span>
        <span class="card-package-middle-includes-feature">
            <i class="icon-cross text-red-900 mr-1"></i> Investigative Features
        </span>
        <span class="card-package-middle-includes-feature">
            <i class="icon-cross text-red-900 mr-1"></i> Safing Support
        </span>
        <span class="card-package-middle-includes-feature">
            <i class="icon-cross text-red-900 mr-1"></i> SPN
        </span>

        <span class="pt-3">
            <a href="/pricing/#comparison" class="link-primary">
                🢂 Full Comparison
            </a>
        </span>
    </div>
    <div class="card-package-bottom" style="bottom: 36px;">
      <div class="hidden lg:block">
          {% include download_button.html unique_id=include.unique_id %}
      </div>
    </div>
</div>
