<div class="space-y-10">
    {% if page.cards.done.size > 0 %}
      <div class="space-y-10">
        <div class="space-y-3" style="max-width: 750px;">
          <h3>Completed</h3>
          <p>A list of work packages we've fully wrapped up this month. Expand any to find out more about its conclusion.</p>
        </div>
        <div class="space-y-3">
          {% for card in page.cards.done %}
            {% include project_tablecard.html state = 'done' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if page.cards.in_progress.size > 0 %}
      <div class="space-y-10">
        <div class="space-y-3" style="max-width: 750px;">
          <h3>In Progress</h3>
          <p>Expand any work package to find out more about its progress, obstacles and sub-achievements.</p>
        </div>
        <div class="space-y-3">
          {% for card in page.cards.in_progress %}
            {% include project_tablecard.html state = 'in_progress' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if page.cards.discarded.size > 0 %}
      <div class="space-y-10">
        <div class="space-y-3" style="max-width: 750px;">
          <h3>Discarded</h3>
          <p>Work packages we for one reason or the other decided to discard. Click on a package to find out the exact reasons why.</p>
        </div>
        <div class="space-y-3">
          {% for card in page.cards.discarded %}
            {% include project_tablecard.html state = 'discarded' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if page.cards.postponed.size > 0 %}
      <div class="space-y-10">
        <div class="space-y-3" style="max-width: 750px;">
          <h3>Postponed</h3>
          <p>Work packages we for one reason or the other decided to postpone. Click on a package to find out the exact reasons why.</p>
        </div>
        <div class="space-y-3">
          {% for card in page.cards.postponed %}
            {% include project_tablecard.html state = 'postponed' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>