<div class="card">
  <label class="card-label" for="card{{ include.state | prepend: '-' }}{{ include.project | prepend: '-' }}-{{ forloop.index }}">
      <div class="wrapper-left">
          <div class="flex">
            {% for tag in card.projects %}
              {% include tag.html tag=tag %}
            {% endfor %}
          </div>
          <!-- <div class="tag-list">
              <span class="tag-spn">
                  SPN
              </span>
          </div> -->
          <div class="card-title">
              {% if include.state == 'done' %}
                <i class="icon-tick text-green-500"></i>
              {% elsif include.state == 'in_progress' %}
                <i class="icon-tick text-green-500"></i>
                <!-- <img style="min-width: 19px;" src="{{ site.assets_url }}icons/cog.svg" alt=""> -->
              {% elsif include.state == 'discarded' %}
                <i class="icon-tick text-green-500"></i>
                <!-- <img style="min-width: 19px;" src="{{ site.assets_url }}icons/cross.svg" alt=""> -->
              {% elsif include.state == 'postponed' %}
                <i class="icon-tick text-green-500"></i>
                <!-- <img style="min-width: 19px;" src="{{ site.assets_url }}icons/files.svg" alt=""> -->
              {% elsif include.state == 'backlog' %}
                <i class="icon-tick text-green-500"></i>
                <!-- <img style="min-width: 19px;" src="{{ site.assets_url }}icons/files.svg" alt=""> -->
              {% endif %}
              <h1 class="title">{{ card.title }}</h1>
          </div>
      </div>
      <div class="wrapper-right">
          {% for member in card.team %}
            <div class="circular-profile" tooltip="{{ member | capitalize }}">
              <img src="{{ site.img_url }}profiles/{{ member | downcase }}.png" alt="{{ member | capitalize }}">
            </div>
          {% endfor %}
          <div class="circular-profile" tooltip="David">
              <img src="https://safing.io/assets/img/profiles/david.png">
          </div>
          <i class="icon-arrow"></i>
      </div>
  </label>
  <input class="card-input-toggle" id="card{{ include.state | prepend: '-' }}{{ include.project | prepend: '-' }}-{{ forloop.index }}" type="checkbox">
  <div class="card-dropdown-toggle">
      <div class="card-dropdown-content">
        <p>The Assignment:</p>
        <br/>
        {% for paragraph in card.description %}
          <p>{{ paragraph }}</p>
          {% unless forloop.last %}
            <br/>
          {% endunless %}
        {% endfor %}

        {% if card.link %}
          <br/>
          <a href="{{ card.link.url }}">
            {{ card.link.text }}
          </a>
        {% endif %}
      </div>
  </div>
</div>

