<div class="card">
  <label class="card-label" for="card{{ include.state | prepend: '-' }}{{ include.project | prepend: '-' }}-{{ forloop.index }}">
      <div class="wrapper-left">
          <div class="flex">
            {% for tag in card.projects %}
              {% include tag.html tag=tag %}
            {% endfor %}
          </div>
          <div class="card-title">
              {% if include.state == 'done' %}
                <i class="icon-tick text-green-500"></i>
              {% elsif include.state == 'in_progress' %}
                <i class="icon-cog text-gray-500"></i>
              {% elsif include.state == 'discarded' %}
                <i class="icon-cross text-red-500"></i>
              {% elsif include.state == 'postponed' %}
                <i class="icon-files text-gray-800"></i>
              {% elsif include.state == 'backlog' %}
                <i class="icon-files text-gray-800"></i>
              {% endif %}
              <h1 class="title">{{ card.title }}</h1>
          </div>
      </div>
      <div class="wrapper-right">
          <div class="wrapper-right-profiles">
            {% for member in card.team %}
              <div class="circular-profile" tooltip="{{ member | capitalize }}">
                <img src="{{ site.img_url }}profiles/{{ member | downcase }}.png" alt="{{ member | capitalize }}">
              </div>
            {% endfor %}
          </div>
          <i class="icon-arrow"></i>
      </div>
  </label>
  <input class="card-input-toggle" id="card{{ include.state | prepend: '-' }}{{ include.project | prepend: '-' }}-{{ forloop.index }}" type="checkbox">
  <div class="card-dropdown-toggle">
      <div class="card-dropdown-content">
        <h5>The Assignment:</h5>
        <br/>
        {% for paragraph in card.description %}
          <p>{{ paragraph }}</p>
          {% unless forloop.last %}
            <br/>
          {% endunless %}
        {% endfor %}

        {% if card.link %}
          <br/>
          <a href="{{ card.link.url }}">
            {{ card.link.text }}
          </a>
        {% endif %}
      </div>
  </div>
</div>

