<div class="card text-left transform scale-95">
    <div class="block shadowthing p-8 rounded-lg">
      <div class="tabs">
        <div class="tab ">
          <input class="dropinput" type="checkbox" id="chck1">
          <label style="min-width: 90%; min-height: 150px; display: block;" class=" absolute" for="chck1">
            <img class="absolute right-0" style="margin-right: 1rem;" id="icon" src="{{ site.assets_url }}/icons/arrow.svg" alt="">
          </label>
          <div>
            <div class="flex">
              <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium leading-5 bg-blue-100 text-blue-800 mr-2">
                Portmaster
              </span>
              <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 mr-2">
                Spn
              </span>
            </div>
            <div class="flex pt-6 items-center">
              <div>
                <img style="min-width: 19px;" src="{{ site.assets_url }}icons/tick.svg" alt="">
                  <!-- cross <img style="min-width: 19px;" src="{{ site.assets_url }}icons/cross.svg" alt=""> -->
                  <!-- cross <img style="min-width: 19px;" src="{{ site.assets_url }}icons/files.svg" alt=""> -->
                  <!-- cog <img style="min-width: 19px;" src="{{ site.assets_url }}icons/cog.svg" alt=""> -->
              </div>
              <h1 class="pl-3 font-bold text-lg">SPN Community Node Support</h1>
            </div>
          </div>
          <div style="padding-left: 0;" class="tab-content  opacity-50 text-md">
            All details will be finished to fully support community 
            nodes in the network. (This does not include the planned
            compensation for running a node.) There will be a website
            to easily get you started.
          </div>
        </div>
        <div class="pt-3">
          <hr>
          <div class="flex relative pb-2 pt-6 -mt-1">
            <span style="font-size: 0.8rem;">#866 opened by <strong>BinaryMuse</strong> to atom/github</span>
            <div class="absolute right-0">
              <div class="flex-shrink-0 mt-0">
                <div class="flex overflow-hidden">
                  <img class="inline-block h-6 w-6 rounded-full text-white shadow-solid border-2 border-white" src="http://localhost:4000/assets/img/profiles/raphael.png" alt="">
                  <img class="-ml-1 inline-block h-6 w-6 rounded-full text-white shadow-solid border-2 border-white" src="http://localhost:4000/assets/img/profiles/daniel.png" alt="">
                  <img class="-ml-1 inline-block h-6 w-6 rounded-full text-white shadow-solid border-2 border-white" src="http://localhost:4000/assets/img/profiles/patrick.png" alt="">
                  <!-- <img class="-ml-1 inline-block h-6 w-6 rounded-full text-white shadow-solid border-2 border-white" src="http://localhost:4000/assets/img/profiles/tabitha.png" alt="">
                  <img class="-ml-1 inline-block h-6 w-6 rounded-full text-white shadow-solid border-2 border-white" src="http://localhost:4000/assets/img/profiles/luke.png" alt="">
                  <img class="-ml-1 inline-block h-6 w-6 rounded-full text-white shadow-solid border-2 border-white" src="http://localhost:4000/assets/img/profiles/alex.png" alt="">
                  <img class="-ml-1 inline-block h-6 w-6 rounded-full text-white shadow-solid border-2 border-white" src="http://localhost:4000/assets/img/profiles/martin.png" alt="">
                  <img class="-ml-1 inline-block h-6 w-6 rounded-full text-white shadow-solid border-2 border-white" src="http://localhost:4000/assets/img/profiles/david.png" alt=""> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  