{% if include.faq_id %}
  {% assign faq_id = include.faq_id %}
{% else %}
  {% assign faq_id = "0" %}
{% endif %}

<div class="faq-container-bottom-question">
	<div class="card-faq hover-scale-out">
		<label class="card-label" for="card-toggle-anchor-{{ faq_id }}">
			<div class="wrapper-left">
				<div class="card-title">
					<h3 class="title">
						Where can I find your source code?
					</h3>
				</div>
			</div>
			<div class="wrapper-right">
				<i class="icon-arrow"></i>
			</div>
		</label>
		<input class="card-input-toggle" id="card-toggle-anchor-{{ faq_id }}" type="checkbox">
		<div class="card-dropdown-toggle">
			<div class="card-dropdown-content">
				You can find our code on <a href="{{ site.github_url }}" class="link-primary">Github</a>. <a href="{{ site.github_url }}/portmaster/" class="link-primary">The Portmaster</a>, the <a href="{{ site.github_url }}/portmaster-ui/" class="link-primary">Portmaster UI</a>, the <a href="{{ site.github_url }}/spn/" class="link-primary">SPN</a>, the <a href="{{ site.github_url }}/docs/" class="link-primary">docs</a> and <a href="{{ site.github_url }}/web/" class="link-primary">this website</a> have their respective repositories. <a href="{{ site.github_url }}/jess/" class="link-primary">Jess</a>, the heart of the SPN, which got <a href="https://cure53.de/pentest-report_safing-jess.pdf">audited by Cure53</a>, can also be found online.
			</div>
		</div>
	</div>
</div>
