<div class="card-table darkmode">
  <table>
    <colgroup class="card-table-colgroup">
      <col class="card-table-colgroup-col">
      <col class="card-table-colgroup-col-highlight">
      <col class="card-table-colgroup-col">
    </colgroup>
    <thead class="card-table-header">
      <tr class="card-table-header-row">
        <th class="card-table-header-row-cell"></th>
        <th class="card-table-header-row-cell"><span tooltip="Safing Privacy Network">SPN <i class="icon-info text-md"></i></span></th>
        <th class="card-table-header-row-cell">Most VPNs</th>
      </tr>
    </thead>
    <tbody class="card-table-body">
      <tr class="card-table-body-row">
        <td class="card-table-body-row-cell-title">Cryptographic Identity Protection</td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
        <td class="card-table-body-row-cell"><i class="icon-cross text-2xl text-red-500"></i></td>
      </tr>
      <tr class="card-table-body-row">
        <td class="card-table-body-row-cell-title">Community Nodes</td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
        <td class="card-table-body-row-cell"><i class="icon-cross text-2xl text-red-500"></i></td>
      </tr>
      <tr class="card-table-body-row">
        <td class="card-table-body-row-cell-title">No Network Logs</td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
        <td class="card-table-body-row-cell"><i class="icon-cross text-2xl text-red-500"></i></td>
      </tr>
      <tr class="card-table-body-row">
        <td class="card-table-body-row-cell-title">No Kill Switch Needed</td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
        <td class="card-table-body-row-cell"><i class="icon-cross text-2xl text-red-500"></i></td>
      </tr>
      <tr class="card-table-body-row">
        <td class="card-table-body-row-cell-title">Full-Device Protection</td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
      </tr>
      <tr class="card-table-body-row">
        <td class="card-table-body-row-cell-title">Exclude Apps</td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
        <td class="card-table-body-row-cell"><i class="icon-cross text-2xl text-red-500"></i></td>
      </tr>
      <tr class="card-table-body-row">
        <td class="card-table-body-row-cell-title">Exclude Domains</td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
        <td class="card-table-body-row-cell"><i class="icon-cross text-2xl text-red-500"></i></td>
      </tr>
      <tr class="card-table-body-row">
        <td class="card-table-body-row-cell-title">Private Account and Payments</td>
        <td class="card-table-body-row-cell"><i class="icon-tick text-2xl text-green-500"></i></td>
        <td class="card-table-body-row-cell"><i class="icon-cross text-2xl text-red-500"></i></td>
      </tr>
    </tbody>
  </table>
</div>
