{% if include.tag == 'Portmaster' %}
  <span class="tag-portmaster">Portmaster</span>
{% elsif include.tag == 'SPN' %}
  <span class="tag-spn">spn</span>
{% elsif include.tag == 'Website' %}
  <span class="tag bg-pink-100 text-pink-800">Website</span>
{% elsif include.tag == 'Back Office' %}
  <span class="tag bg-gray-100 text-gray-800">BackOffice</span>
{% elsif include.tag == 'Community' %}
  <span class="tag-community">Community</span>
{% elsif include.tag == 'Marketing' %}
  <span class="tag-marketing">Marketing</span>
{% endif %}