{% if include.tag == 'Portmaster' %}
  <span class="tag-portmaster">Portmaster</span>
{% elsif include.tag == 'SPN' %}
  <span class="tag-spn">SPN</span>
{% elsif include.tag == 'Website' %}
  <span class="tag-website bg-pink-100">Website</span>
{% elsif include.tag == 'Back Office' %}
  <span class="tag-backoffice bg-gray-100">Back Office</span>
{% elsif include.tag == 'Community' %}
  <span class="tag-community">Community</span>
{% elsif include.tag == 'Marketing' %}
  <span class="tag-marketing bg-yellow-100">Marketing</span>
{% endif %}
