<a class="card-blog" href="{{ post.url }}">
  <div class="card-blog-thumbnail">
      {% if post.custom_thumbnail_name == null %}
        <img 
          src="{{ site.img_url }}thumbnails/blog/placeholder.png"
          style="max-width: 365px; max-height: 223px;"
        >
      {% else %}
        <img 
          src="{{ site.img_url }}thumbnails/blog/{{ post.custom_thumbnail_name }}.png"
          style="max-width: 365px; max-height: 223px;"
        >
      {% endif %}
      {% if post.progress_update == true %}
        <span class="counter">#{{ post.title | slice: 2, 2 }}</span>
      {% endif %}
      {% if post.portmaster_update == true %}
        <span class="box-icon">
          <i class="icon-reload text-xl"></i>
        </span>
      {% endif %}
  </div>
  <div class="card-blog-content" style="max-width: 365px;">
      <div class="content-wrapper">
          <span class="w-full">
            {% if post.progress_update == true %}
            {% assign title_length = post.title | size %}
              {{ post.title | slice: 7, title_length }} - #{{ post.title | slice: 2, 2 }}
            {% else %}
              {{ post.title }}
            {% endif %}
          </span>
          <div class="circular-profile" tooltip="{{ post.author | capitalize }}">
              <img src="{{ site.img_url }}profiles/{{ post.author | downcase }}.png" alt="{{ post.author | capitalize }}">
          </div>
      </div>
      <span>
        {% if include.pre_header %}
        {{ include.pre_header }} -
        {% endif %}
        {{ post.date | date: "%-d. %b %Y" }}
      </span>
  </div>
</a>