<a class="card-blog" href="{{ video.url }}">
  <div class="card-blog-thumbnail">
      {% if video.custom_thumbnail_name == null %}.
        <img src="{{ site.img_url }}thumbnails/video/placeholder.png" alt="">
      {% else %}
        <img src="{{ site.img_url }}thumbnails/video/{{ video.custom_thumbnail_name }}.png" alt="">
      {% endif %}
      <span class="box-icon">
        <i class="icon-play text-xl"></i>
      </span>
  </div>
  <div class="card-blog-content">
      <div class="content-wrapper">
          <span class="w-full">
            {% if include.pre_header %}
            {{ include.pre_header }} -
            {% endif %}
            {{ video.date | date: "%-d. %b %Y" }}
          </span>
          <div class="circular-profile" tooltip="{{ post.author | capitalize }}">
              <img src="{{ site.img_url }}profiles/{{ post.author | downcase }}.png" alt="{{ post.author | capitalize }}">
          </div>
      </div>
      {% if video.progress_update %}
      {% assign title_length = video.title | size %}
        <span>{{ video.title | slice: 7, title_length }} - #{{ video.title | slice: 2, 2 }}</span>
      {% else %}
        <span>{{ video.title }}</span>
      {% endif %}
  </div>
</a>