<a class="card-blog" href="{{ episode.url }}">
  <div class="card-blog-thumbnail">
      {% if episode.custom_thumbnail_name == null %}
        <img
          src="{{ site.img_url }}thumbnails/podcast/placeholder.png"
          style="max-width: 365px; max-height: 223px;"
        >
      {% else %}
        <img
          src="{{ site.img_url }}thumbnails/podcast/{{ episode.custom_thumbnail_name }}.jpg"
          style="max-width: 365px; max-height: 223px;"
        >
      {% endif %}
      <span class="counter">#{{ episode.title | slice: 2, 2 }}</span>
      <span class="box-icon">
        <i class="icon-mic text-xl"></i>
      </span>
  </div>
  <div class="card-blog-content" style="max-width: 365px;">
      <div class="content-wrapper">
          <span class="w-full">
            {% if include.pre_header %}
              {{ include.pre_header }} -
            {% endif %}
            {{ episode.date | date: "%-d. %b %Y" }}
          </span>
      </div>
      {% assign title_length = episode.title | size %}
      <span>{{ episode.title | slice: 7, title_length }} - #{{ episode.title | slice: 2, 2 }}</span>
  </div>
</a>
