#page-container content #blog {
  padding-top: 3rem;

  hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  p {
    padding-top: 2rem;
    color: #898989;
  }

  strong {
    color: black;
  }

  a:hover {
    opacity: .5;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  }

  a {
    --text-opacity: 1;
    color: #667eea;
    color: rgba(102, 126, 234, var(--text-opacity));
    text-decoration: inherit;
    background-color: transparent;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  }

  a strong {
    --text-opacity: 1;
    color: #667eea;
    color: rgba(102, 126, 234, var(--text-opacity));
  }

  h2 {
    font-size: 1.875rem;
    padding-top: 2rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.2rem;
    padding-top: 1rem;
    font-weight: 800;
  }

  h4 {
    font-size: 1.1rem;
    padding-top: 1rem;
    font-weight: 500;
  }

  ul {
    padding-top: 2rem;
  }

  ul li {
    padding-top: 0.4rem;
  }

  ol li {
    padding-top: 0.4rem;
  }

  .content {
    max-width: 750px;
    margin: auto;
    margin-top: 3rem;

    ul {
      padding-top: 0.1rem;
      list-style-type: initial;
      padding-left: 1rem;
      color: #898989;
    }

    ol {
      padding-top: 0.1rem;
      list-style-type: decimal;
      padding-left: 1rem;
      color: #898989;
    }

    blockquote p {
      font-weight: bold;
      padding-left: 2rem;
      color: black;
      opacity: 0.6;
    }

    p {
      padding: 0.5rem 0;
    }

    p img {
      --transform-translate-x: 0;
      --transform-translate-y: 0;
      --transform-rotate: 0;
      --transform-skew-x: 0;
      --transform-skew-y: 0;
      --transform-scale-x: 1.1;
      --transform-scale-y: 1.1;
      transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
      box-shadow: 0 0px 90px 0 rgba(59, 93, 199, 0.1), 0 0px 5px 0 rgba(0, 0, 0, 0);
      margin-top: 5rem;
      max-width: 100%;
      height: auto;
      border-radius: .375rem;
      display: block;
      margin-bottom: 4rem;
      margin-top: 5rem;
    }

    .podcast h2 {
      padding-top: 1rem;
      font-weight: 500;
      font-size: 1rem;
      padding-bottom: 0.5rem;
    }

    audio {
      padding-bottom: 1.5rem;
    }
  }
}