.ui.button.safing-active {
  color: $white;
  background-color: $primary;
}

.ui.button.safing-active:hover {
  background-color: $anchor_hover;
  color: $white;
}

.ui.button.safing-secondary{
  color: $secondary;
}

.ui.button.safing-secondary:hover{
  background-color: $fill_medium;
  color: $white;
}

.ui.button.safing-full {
  color: $fill_lighter;
  background-color: $white;
}

.ui.button.safing-full:hover {
  background-color: $fill_lighter;
  color: $white;
}
