.contact-image {
  text-align: center;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.contact-text {
  color: $color_tundora_approx;
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 2;
}
