.contact-image {
  text-align: center;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.contact-text {
  color: $color_tundora_approx;
  padding-bottom: 60px;
  line-height: 2;
  text-align: center;
}

.imprint {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
