#download {
  .row:last-child {
    padding-bottom: 7em;

    .ui.three.cards {
      .content p {
        font-size: 1.1em;
      }

      button {
        padding-right: 0.8em;
        padding-left: 0.8em;
      }

      a {
        color: $main_color;
      }
    }
  }
}
