#floating-button {
  position: fixed;
  right: 25px;
  top: 25px;

  background-color: $white;
  // width: 64px; DEFINED BELOW!
  padding: 5px;
  border-radius: 32px;
  // alt:
  // width: 4.6em;
  // padding: 0.4em;
  // border-radius: 10em;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  z-index: 1;

  .spacer {
    height: 10px;
  }
}

#floating-button.visible {
  opacity: 1;
}

/*
// Semantic UI has these classes, however they're only applicable to
// grids, containers, rows and columns.
// plus, there isn't any `mobile hidden`, `X hidden` class.
// this snippet is using the same class names and same approach
// plus a bit more but to all elements.
//
// see https://github.com/Semantic-Org/Semantic-UI/issues/1114
*/

/* Mobile */
@media only screen and (max-width: 767px) {
  #floating-button {
    width: 51px;
    right: -4px;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #floating-button {
    width: 59px;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #floating-button {
    width: 64px;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  #floating-button {
    width: 64px;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  #floating-button {
    width: 64px;
  }
}
