.footer-section {
  width: 100%;
  background-color: $fill_light;
  margin: 0 !important;

  .column {
    padding: 5px;
    text-align: center;
  }

  a {
    color: $fill_medium;
    &:hover {
      text-decoration: underline;
    }
  }
}
