.footer-section {
  width: 100%;
  background-color: $background_bar;
  margin: 0 !important;
  padding: 1rem;

  a {
    color: $discreet;
    &:hover {
      text-decoration: underline;
    }
  }
}
