
.sidebar-icon {
  color: $white !important;
}
#menubar {
  width: 100%;
  background-color: $background_bar;
  margin: 0;
  border-radius: 0;
  z-index: 10;
}

#menubar.home {
  background-color: transparent;
  position: absolute;
  top: 0;
  &.mobile {
    background-color: transparent !important;
    position: absolute !important;
    top: 0 !important;
  }
}

// no js version
@media only screen and (max-width: 767px) {
  #menubar.home {
    background-color: $fill_medium !important;
    position: relative;
  }
  #menubar .right.menu a.item {
    text-align: right !important;
  }
}

#menubar-mobile {
  display: none;
  &.activated {
    display: block;
  }
}

#menubar-computer.deactivated {
  display: none;
}
