#menubar {
  width: 100%;

  background-color: #38465c;
  margin: 0;
  border-radius: 0;
  z-index: 1;
}

#menubar.home {
  background-color: transparent;
  position: absolute;
  top: 0;
  &.mobile {
    background-color: transparent !important;
    position: absolute !important;
    top: 0 !important;
  }
}

// no js version
@media only screen and (max-width: 767px) {
  #menubar.home {
    background-color: #38465c !important;
    position: relative;
  }
  #menubar .right.menu a.item {
    text-align: right !important;
  }
}

#menubar-mobile {
  display: none;
  &.activated {
    display: block;
  }
}

#menubar-computer.deactivated {
  display: none;
}

// {% if include.home %}style='background-color: transparent;'{% endif %}

// .header-content {
//   top: 35% !important;
// }
//
// .header-text {
//   font-size: 55px;
//   text-transform: none !important;
//   color: $white;
//   padding-bottom: 20px;
// }
//
// .header-button {
//   color: $white;
//   background-color: transparent;
//   border: 2px solid $white;
//
//   &:hover {
//     background-color: $primary;
//     color: $white;
//     border: 2px solid $primary;
//   }
// }
//
// .navbar-static {
//   background-color: $white;
//   margin-bottom: 0;
//   border-radius: 0;
//   border-bottom: 2px solid $primary;
//
//   .nav > li > a {
//     color: $color_mine_shaft_approx;
//     &:focus {
//       color: $color_mine_shaft_approx;
//     }
//
//     &:hover {
//       color: $primary;
//     }
//   }
// }
//
// .logo-sitename {
//   display: inline-block;
//   padding: 7px;
//   padding-left: 16px;
//   height: 100%;
//
//   &:hover {
//     text-decoration: none;
//   }
//
//   > h3 {
//     display: inline;
//     vertical-align: middle;
//   }
//
//   img {
//     max-height: 35px;
//     margin-top: 0.75em;
//     padding-right: 1em;
//     vertical-align: middle;
//     border: 0;
//     margin: 0;
//   }
// }
//
// @media(min-width: 768px) {
//   ul.nav li.dropdown:hover > ul.dropdown-menu {
//     display: block;
//   }
// }
//
// .our-values-dropdown {
//   background-color: #ffffffce;
// }
//
// .dropdown .nav > li > a {
//   color: $color_mine_shaft_approx;
//   &:focus {
//     color: $color_mine_shaft_approx;
//   }
//
//   &:hover {
//     color: $primary;
//   }
// }
//
// header {
//   .cover-footer {
//     width: 100%;
//     height: 50px;
//     position: absolute;
//     bottom: 35px;
//     padding: 0 35px;
//
//     .btn {
//       float: right;
//     }
//   }
//
//   i {
//     color: #fff0;
//
//     @media(min-width: 768px) {
//       color: inherit;
//     }
//   }
// }
