/* Mobile */
@media only screen and (max-width: 767px) {
  html {
    font-size: 1.0rem;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 1.2rem;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 1.3rem;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  html {
    font-size: 1.3rem;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  html {
    font-size: 1.3rem;
  }
}
