.funding-progressbar {
  margin: 0 20px !important;
  padding: 0 !important;
}

#ownership {
  padding-top: 1.5em;
}

.ui.horizontal.cards .card {
  width: 86%;
  margin-left: 2%;

  .image {
    height: 150px;
  }

  .content {
    padding-right: 0.5em;

    .header .ui.small.text {
      font-weight: normal;
    }

    .description {
      font-size: 0.65em;
    }

    .meta {
      font-size: 0.8em;
    }
  }

  .extra.content {
    opacity: 0.55;

    padding-left: 0px;

    a {
      margin-left: 10px;
    }
  }
}
