#portmaster-tour {
  font-size: 1.25em;


  .row {
    padding: 3.5em 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      .column{
        &:first-child {
          padding-bottom: 3.5em;
        }

        .ui.three.cards {
          .content p {
            font-size: 1.1em;
          }

          button {
            padding-right: 1.2em;
            padding-left: 1.2em;
          }

          a {
            color: $main_color;
          }
        }
      }

      padding-bottom: 7em;
    }
  }

  .three.cards.middle.lowered {
    .card:first-child {
      margin-bottom: 40px;
    }

    .card:nth-child(2) {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .card:last-child {
      margin-bottom: 40px;
    }
  }

  .two.cards {
    .content {
      img {
        height: 3em;
      }

      .header {
        font-size: 1.5em;
        margin-top: 0.25em;
      }
    }
  }
}
