.post {
  .date {
    float: right;
    padding: 2px;
  }

  .tags {
    > a {
      display: inline-block;
      background-color: $color_gallery_approx;
      border-radius: 3px;
      padding: 2px;
      padding-left: 9px;
      padding-right: 9px;
    }

    i {
      color: $color_tapa_approx;
    }

  }

  .blog-image {
    width: 70%;
    margin-left: 15%;
  }

  ul {
    margin-top: -15px;
    margin-bottom: 20px;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -99px;
    visibility: hidden;
  }
}

.no-border {
  border-top: none !important;
  border: none;

  > td {
    border-top: none !important;
    border: none;
  }
}

.pagination {
  width: 100%;
  text-align: center;
  padding: 40px;
  color: $color_tapa_approx;
}

.stealth-href {
  color: $color_mine_shaft_approx;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

.markdownpage {
  #influences {
    font-size: 0.8em;
  }

  p {
    padding-top: 5px;
    padding-bottom: 5px;

  }

  li {

    padding-bottom: 4px;
    line-height: 24px;
  }

  h5 {

    line-height: 24px;
    font-weight: bold;
  }

  h6 {

    line-height: 24px;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footnotes p {
    margin: 0 !important;
    padding: 0 !important;
  }

  table, td, th {
    border: 1px solid #00000044;
  }

  table {
    border-collapse: collapse;
    td, th {
      padding: 4px;
      min-width: 100px;
    }
    td:nth-child(n+2), th {
      text-align: center;
    }
  }
}
