// from INFOUND
$primary: #f39200 !default;
// old: $primary: #1fa787 !default;
$fill_light: #667082 !default;
$fill_medium: #38465c !default;
$fill_dark: #222a37 !default;

// adaptions
$background_main: #f7f7f7 !default;
$fill_lighter: #788294 !default;
$secondary: $fill_medium;

$anchor: #0078ff;
$anchor_hover: #258bff;

// other colors
$color_mine_shaft_approx: #333 !default;
$color_alto_approx: #ddd !default;
$color_celeste_approx: #ccc !default;
$color_pink_swan_approx: #bababa !default;
$color_tapa_approx: #777 !default;
$color_tundora_approx: #444 !default;
$color_gallery_approx: #eee !default;
$color_alabaster_approx: #f9f9f9 !default;
$color_royal_purple_approx: rebeccapurple !default;

$white: #ffffff !default;

$opacity-light: 0.7;
$opacity-lighter: 0.5;

// email
$email_user: 'hello' !default;
$email_domain: 'safing.io' !default;
