---
title: What's Next at Safing
layout: page
---

<header class="header-three-container mt-32">
    <div class="header-three-left">
        <span class="header-three-left-data">
          {{ site.last_progress_update_on }}
        </span>
        <h1 class="header-three-left-title">
            Progress Overview
        </h1>
        <p class="header-three-left-desc">
            Without privacy there is no freedom of press, no
            freedom of speech, not even freedom of thought.
        </p>
    </div>
    <div class="header-three-right">
      {% assign progress_posts = site.publications | reverse | where: "progress_update", "true" %}
      {% for post in progress_posts limit: 1 %}
        {% include thumbnail_blog.html pre_header="BLOG" %}
      {% endfor %}
    </div>
</header>
<section class="section-container">
    {% if site.data.next.cards.done.size > 0 %}
      <div class="collection-container">
        <div class="collection-container-top">
            <div class="collection-container-top-title-counter items-center">
                <span class="collection-container-top-title">
                    Recently Completed
                </span>
                <span class="text-sm collection-container-top-counter">
                  ({{ site.data.next.cards.done.size }})
                </span>
            </div>
        </div>
        <div class="collection-container-bottom">
          {% for card in site.data.next.cards.done %}
            {% include project_card.html state = 'done' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if site.data.next.cards.in_progress.size > 0 %}
      <div class="collection-container">
        <div class="collection-container-top">
            <div class="collection-container-top-title-counter items-center">
                <span class="collection-container-top-title">
                  In Progress
                </span>
                <span class="text-sm collection-container-top-counter">
                  ({{ site.data.next.cards.in_progress.size }})
                </span>
            </div>
            <p class="collection-container-top-desc">
              Being in progress does not imply the project will be
              completed soon. Plenty will take a while a few
              might even get discarded. Read the monthly blog updates
              to follow the progress and conclusion of every project.
          </p>
        </div>
        <div class="collection-container-bottom">
          {% for card in site.data.next.cards.in_progress %}
            {% include project_card.html state = 'in_progress' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if site.data.next.cards.discarded.size > 0 %}
      <div class="collection-container">
        <div class="collection-container-top">
            <div class="collection-container-top-title-counter items-center">
                <span class="collection-container-top-title">
                    Recently Discarded
                </span>
                <span class="text-sm collection-container-top-counter">
                  ({{ site.data.next.cards.discarded.size }})
                </span>
            </div>
        </div>
        <div class="collection-container-bottom">
          {% for card in site.data.next.cards.discarded %}
            {% include project_card.html state = 'discarded' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if site.data.next.cards.postponed.size > 0 %}
      <div class="collection-container">
        <div class="collection-container-top">
            <div class="collection-container-top-title-counter items-center">
                <span class="collection-container-top-title">
                  Postponed
                </span>
                <span class="text-sm collection-container-top-counter">
                  ({{ site.data.next.cards.postponed.size }})
                </span>
            </div>
        </div>
        <div class="collection-container-bottom">
          {% for card in site.data.next.cards.postponed %}
            {% include project_card.html state = 'postponed' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="showcase-container mt-32">
      <div class="showcase-left" style="max-width: 1050px;">
        <img src="{{ site.img_url }}page-specific/next/files.png" alt="">
      </div>
      <div class="showcase-right">
          <h2 class="showcase-right-title">
              There is More. A Lot More.
          </h2>
          <p class="showcase-right-desc">
              We have plans and ideas for years to come. We will
              never be "done" but always evolve and progress. I'm
              sure you have cool ideas for us too! Take a look what
              we already plan on doing in the longer run.
          </p>
          <a class="btn-secondary" href="{{ site.backlog_url }}">Explore the bacllog</a>
      </div>
    </div>
</section>