---
layout: page_markdown
title: community-hub
heading: The Community Hub
---

<script type="text/javascript">
  var params = getSearchParameters();

  if (params.newsletter == 'confirm') {
    $('body').toast({
      title: 'Success - But Confirmation Required',
      message: 'Please confirm your email to finish the process. Thank you for your effort!',
      displayTime: 10000,
      showProgress: 'bottom',
      class: 'orange',
      showIcon: 'hand point right outline',
      position: 'top center',
      closeIcon: true
    });
  }

  if (params.newsletter == 'success') {
    $('body').toast({
      title: 'Success',
      message: 'Thanks for subscribing to our newsletter, we\'re happy we\'ll stay in touch!',
      displayTime: 8000,
      showProgress: 'bottom',
      class: 'green',
      showIcon: 'checkmark',
      position: 'top center',
      closeIcon: true
    });
  }
</script>

<div class="community-hub">
  {% for pitch in site.data.community_hub.communities %}

    <a class="ui button{% if pitch.disabled %} disabled{% endif %}"{% unless pitch.pending %}{% unless pitch.disabled %} href="{{ pitch.url }}"{% endunless %}{% unless pitch.internal %} target="_blank"{% endunless %}{% endunless %}>
        {% comment %}0 = even (right text), 1 = odd (left text){% endcomment %}
        {% assign modulo = forloop.index | modulo: 2 %}
        {% include pitch.html %}
    <a>

  {% endfor %}
</div>
