---
---

/* Components */
/* Components End */

/* Prebuilt */
@import './prebuilt/general-layout/default.scss';
@import './prebuilt/publication-layout/default.scss';
/* Prebuilt End */

/* TODO: Luke add this to safingTailwind */
.nav .vertical-line {
    border-right-width: 2px;
    border-color: rgba(255, 255, 255, 1);
    opacity: 0.25;
    height: 30px;
    width: 2px;
}

@media (max-width: 768px) { 
    .header-two-container .header-bg {
        display: none;
    }
 }
 
 @media (min-width: 1536px) { 
    .header-two-container .header-bg {
        display: block !important;
    } 
}