<content>
  <div class="features">
    <div>
      <img src="{{ site.icons_url }}lock.svg" alt="">
      <div>
        <span>Privacy first</span>
        <p>
          We believe privacy is the foundation to a free & open society. We can only grow if we have a safe place to nourish our best selves.
        </p>
      </div>
    </div>
    <div>
      <img src="{{ site.icons_url }}community.svg" alt="">
      <div>
        <span>Community</span>
        <p>
          Do we walk our talk? You be the judge! If you like what you see, consider <a href="{{ site.reddit_url }}">helping us</a> by contributing in our community.
        </p>
      </div>
    </div>
    <div>
      <img src="{{ site.icons_url }}shield.svg" alt="">
      <div>
        <span>Open Source</span>
        <p>
          Transparency is a key value for us, therefore we release our code open source. If you're a techie, we challenge you to <a href="">have a look</a> ;)
        </p>
      </div>
    </div>
  </div>
</content>
