<footer class="f-bg">
    <div class="list">
        <ul>
            <span>Company</span>
            <li><a href="{{ site.community_hub_url }}">Community Hub</a></li>
            <li><a href="{{ site.jobs_url }}">Jobs</a></li>
        </ul>
        <ul>
            <span>Podcast</span>
            <li><a href="{{ site.podcast_url }}">Overview</a></li>
            <li><a href="{{ site.podcast_feed_url }}">RSS</a></li>
        </ul>
        <ul>
            <span>Resources</span>
            <li><a href="{{ site.technology_url }}">Technology</a></li>
            <li><a href="{{ site.contact_url }}">Contact Us</a></li>
        </ul>
        <ul>
            <span>Social</span>
            <li><a href="{{ site.podcast_url }}">Overview</a></li>
            <li><a href="{{ site.podcast_feed_url }}">RSS</a></li>
        </ul>
    </div>
    <div class="legal">
        <ul>
            <li><a href="{{ site.terms_url }}">Terms</a></li>
            <li><a href="{{ site.privacy_url }}">Privacy</a></li>
            <li><a href="{{ site.contact_url }}">Contact & Legal</a></li>
            <li>Safing NOC © 2019</li>
        </ul>
    </div>
</footer>