<header class="h-bg">
  <div class="h-l">
    <div class="h-l-i">
      <img src="{{ site.img_url }}video-placeholder.png" alt="">
    </div>
    <span>Supported by</span>
    <ul>
      <li><img src="{{ site.img_url }}esa.png" alt=""></li>
      <li><img src="{{ site.img_url }}netidee.png" alt=""></li>
      <li><img src="{{ site.img_url }}excellence.png" alt=""></li>
      <li><img src="{{ site.img_url }}ffg.png" alt=""></li>
    </ul>
  </div>
  <div class="h-r">
    <span>Take back controll</span>
    <h1>Privacy Network</h1>
    <p>
      Stay private while surfing the Web with Gate17. Now
      you are in charge of where your traffic is going: you can
      handle connections separately, choosing where each
      shall leave the network.
    </p>
    <ul>
      <li>
        <span>917,188</span>
        <p>Raised</p>
      </li>
      <li>
        <span>7,188</span>
        <p>Backers</p>
      </li>
    </ul>
    <div>
      <button><img src="{{ site.icons_url }}kickstarter.svg" alt=""><span>kickstarter</span></button>
      <span>or <a href="#">sign up for beta</a></span>
    </div>
  </div>
</header>
