<header class="h-bg">
  <div class="h-l">
    <div class="h-l-i">
      <img src="{{ site.img_url }}video-placeholder.png" alt="">
    </div>
    <span>Supported by</span>

    <ul>
      <li><a href="{{ site.our_values_url }}#influences"><img src="{{ site.img_url }}external-logos/esa.png" alt=""></a></li>
      <li><a href="{{ site.our_values_url }}#influences"><img src="{{ site.img_url }}external-logos/netidee_small.png" alt=""></a></li>
      <li><a href="{{ site.our_values_url }}#influences"><img src="{{ site.img_url }}external-logos/excellence.png" alt=""></a></li>
      <li><a href="{{ site.our_values_url }}#influences"><img src="{{ site.img_url }}external-logos/ffg.png" alt=""></a></li>
    </ul>
  </div>
  <div class="h-r">
    <span>Take back control</span>
    <h1>Privacy Network</h1>
    <p>
      Stay private while surfing the Web. Stop ISPs, Wi-Fi Operators and VPNs from collecting all your personal [meta] data. Secure your whole computer, not only your web-browser.
    </p>
    <div>
      <a href="{{ site.reddit_url }}"><button><img src="{{ site.icons_url }}reddit.svg" alt=""><span>Join our reddit</span></button></a>
      <span>or <a href="{{ site.newsletter_url }}">subscribe to our newsletter</a></span>
    </div>
  </div>
</header>
