<content>
  <div class="map">
    <div class="m-l">
      <img src="{{ site.img_url }}map.gif" alt="">
    </div>
    <div class="m-r">
      <h1>Outpacing Big Corp</h1>
      <p>
        With the Safing Privacy Network, all your outgoing connections are onion encrypted locally. They are then routed through our multi-hop network (blue) to prevent all current middlemen from logging and exploiting your private activities.
      </p>
      <p>
        Each route is calculated individually to minimize exposure to the untrusted web (non-blue). Also, DNS over TLS is enforced for your whole computer. Find out more...
      </p>
    </div>
  </div>
</content>
