<content>
  <div class="overview">
    <div class="o-l">
      <h1>Transparency enforces Accountability</h1>
      <p>
        Being transparent means you and others can examine us; it gives insight whether we really walk our talk. It's the reason we believe in open source. But we don't want to stop there:
      </p>
    </div>
    <div class="o-r">
      <div class="left">
        <div>
          <img src="{{ site.icons_url }}lock.svg" alt="">
          <div>
            <span>Team</span>
            <p>
              We're human, just like you.
              <br/>
              <a href="{{ site.our_values_url }}#ownership">Meet the team</a> behind this venture!
            </p>
          </div>
        </div>
        <div>
          <img src="{{ site.icons_url }}shield.svg" alt="">
          <div>
            <span>Ownership</span>
            <p>
              Many have fallen because they were not <i>really</i> in charge of their company. So, <a href="{{ site.our_values_url }}#ownership">who is in charge</a> of Safing?
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="right">
          <img src="{{ site.icons_url }}community.svg" alt="">
          <div>
            <span>Ethical Funding</span>
            <p>
              We believe that we must also be open about all our financial influences & partnerships to truly become a privacy first company. <a href="{{ site.our_values_url }}#finances">Have a look!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
