<content>
    <div class="overview">
        <div class="o-l">
            <h1>Explore user behavior on an individual level of detail</h1>
            <p>
                it's the foundation we build our products on. We make 
                sacrifices on  all other fronts to protect your privacy and 
                push the limits of technology to do so.
            </p>
        </div>
        <div class="o-r">
            <div class="left">
                <div>
                    <img src="{{ site.icons_url }}lock.svg" alt="">
                    <div>
                        <span>True Privacy</span>
                        <p>
                            Stay private while surfing the Web with 
                            you are in charge of where your traffic 
                            handle connections
                        </p>
                    </div>
                </div>
                <div>
                    <img src="{{ site.icons_url }}shield.svg" alt="">
                    <div>
                        <span>True Privacy</span>
                        <p>
                            Stay private while surfing the Web with 
                            you are in charge of where your traffic 
                            handle connections
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="right">
                    <img src="{{ site.icons_url }}community.svg" alt="">
                    <div>
                        <span>True Privacy</span>
                        <p>
                            Stay private while surfing the Web with 
                            you are in charge of where your traffic 
                            handle connections
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>