---
# ⚠️ ALWAYS follow this format: "#001 - Some sweet title"
# this has to be consistent for displaying only the episode number or only the title
title: "#005 - Progress Update November"
date: 2020-12-03
author: David
custom_thumbnail_name: progress-update

# Progress Update blogs make a snapshot of the current next page
# and then add a "progress: description" to it.
# -> this is cool for history purposes

# And in there, describe the progress, challenges, cool moments etc..
# You may always refer to previous blog posts to get an idea.
# if a project gets completed / abandoned, add a finish date

# also set this attribute to true so the website does its magic with it
progress_update: true

# snapshot as of 2020/12/03
cards:
  done:
    - title: Full UI Redesign
      description:
        - Completely overhaul the Portmaster user interface to simplify all aspects of it.
        - Easily block connections from the Monitor, easily block all connection of an app, etc...
      projects:
        - Portmaster
      team:
        - Patrick
        - Luke
      progress:
        - type: 'h3'
          text: "The Fresh UI Is Here"
        - type: p
          text: "We are super happy that this big milestone got reached! The redesigned UI really unravels all of the Portmaster's features which previously were hidden. We still define our software as alpha, so expect bugs - but the Portmaster has become so much more usable. Switching between trust modes, overwriting global settings in specific apps, blocking from the monitor - it is all possible now."
        - type: a
          text: "Check out the Feature Tour on Twitter"
          href: "https://twitter.com/SafingIO/status/1331573148966395905/"
    - title: Connection Prompting
      description:
        - Reintroduce the "Prompt Mode" which asks for your input whether or not to allow a connection. Naturally, make it possible to lock in a decision for the future.
      projects:
        - Portmaster
      team:
        - Daniel
      progress:
        - type: 'h3'
          text: "Prompting Is Back for Low Volume Apps"
        - type: p
          text: "Together with the new UI we also re-introduced connection prompting. Instead of allowing or blocking by default, you can make the Portmaster ask per connection. This feature is meant for low volume apps - as browsers and other apps with lots of connections will not work smoothly due to caching."
        - type: a
          text: "Download the Portmaster"
          href: "https://safing.io/portmaster/#downloads"
    - title: Get Follow-Up Fundings
      description:
        - Apply for follow-up fundings from Netidee & FFG to ensure our financial stability and increase our run-way.
      projects:
        - Back Office
      team:
        - Raphael
        - Tabitha
      progress:
        - type: 'h3'
          text: "FFG & Netidee Granted Follow-Up Funding"
        - type: p
          text: "We are excited to announce that both the FFG and the Netidee granted further funding and loans for the year to come! Big shout-out to Raphael and Tabitha, who continuously work on these crucial tasks to keep our journey going while the devs can focus on what they do best: developing privacy software. As always, we are open about our numbers:"
        - type: a
          text: "Look at all our fundings and influences"
          href: "https://safing.io/ownership/#influences"
    - title: Project Management Cleanup
      description:
        - "With over 200+ tasks in the Backlog it has become infeasible to prioritize effectively. As an example: choosing from 20 urgent tasks is rather absurd. Restructure our project management so everyone can work efficiently."
      projects:
        - Back Office
      team:
        - David
        - Raphael
      progress:
        - type: 'h3'
          text: "The Unexpected Slowed Down Productivity"
        - type: p
          text: "Our project management tool got to a point where it became really hard to chose what to work on. Which task should you work on next when there are 20 tasks marked as URGENT? And even after chosing one, the task description was often very vague, needing lots of talk and co-ordination before being able to start. It became clear that the mountains of work lying ahead of us needed some serious restructuring."
        - type: 'h3'
          text: "Step I: Who Calls the Shots?"
        - type: p
          text: "The first part was to define responsibilities. If our Backlog should only contain the next couple of tasks for every person, who gets to call which tasks those should be? So far we often just let everybody decide with their gut, but this is counterproductive to streamlining progress and features as a team. That is why Raphael has now taken upon the role of Product Owner (another hat for you mate 🎩). Additionally, a clear process was defined so tasks are properly specified before moving into the 'Backlog'"
        - type: 'h3'
          text: "Step II: Re-Categorize 200+ Tasks"
        - type: p
          text: "The natural step afterwards was to move all tasks into the new workflow. Most of our old 'Backlog' tasks have now been moved to the 'Idea Phase', while the 'Backlog' remains short and clearly defined. Now everyone can easily pick up a next task after finishing up another one."
        - type: p
          text: "Overall, this was unexpected work, but seeing how it has improved all of our work lives it was definitely worth it."
  in_progress:
    - title: Stabilize the Network
      description:
        - After v0.1, focus on stabilizing the typical issues that arise with early software. Fix bugs, improve performance & stability.
        - Detect failures in the network and react accordingly.
        - Deliver to more and more pre-orders as the network matures.
      projects:
        - SPN
      team:
        - Daniel
      progress:
        - type: 'h3'
          text: "Did Not Continue as we Focused on the Portmaster Redesign"
        - type: p
          text: "As is natural, things happen and can take longer than expected as was the case with the UI Redesign. We are happy that is out of the door so Daniel can now dive into progressing the SPN again. Expect progress updates in the next update blog."
    - title: Portmaster Documentation
      description:
        - You can see our high level concepts & you can inspect our code. But nothing in between.
        - Fill that gap by providing proper documentation of the Portmaster. What does each component do? With what other components does it interact? Where is its code located?
      projects:
        - Portmaster
        - Website
      team:
        - David
        - Patrick
        - Daniel
      progress:
        - type: 'h3'
          text: "Blocked by Lack of Resources Too"
        - type: p
          text: "This big task got blocked by two things: For one, David invested a lot into the Project Managment Cleanup (see above), and second, David needed some technical guidance from Daniel, who himself was working neck deep on the Portmaster Redesign. Both of these projects are done now, so we can tackle this task again. But it probably won't come out before next year. As always, we'll keep you in the loop every month!"
    - title: Cryptocurrency Payments
      description: Enable you to pay for the SPN with cryptocurrencies such as Bitcoin, Ethereum and Monero
      projects:
        - Website
      team:
        - Alex
      progress:
        - type: 'h3'
          text: "Review Round I Completed - Round II Incoming"
        - type: p
          text: "As this feature adds plenty of code onto our codebase, David suggested to make some bigger restructures in the first Review. Alex worked on these refactors in the last month and so this feature is now ready for Review Round II, where we will take a look at all the details."
    - title: Podcast Revamp
      description:
        - Spice up the podcast with proper structure. Create an introduction and outro with underlined music and improve the overall storytelling.
      projects:
        - Community
      team:
        - Tabitha
        - David
      progress:
        - type: 'h3'
          text: "Concepts For Intro & Outro Are Done"
        - type: p
          text: "If you ever listened to our podcast, you'll notice that every episode is a bit different. Sometimes there is a proper intro/outro, sometimes there is not. Tabi and David got together to brainstorm how to streamline our podcast episodes. After multiple sessions, the texts and concepts are done. We even have a new name ;)"
        - type: 'h3'
          text: "Music & Licencing in the Works"
        - type: p
          text: "Obviously, we also wanted to add some music to spice things up. For us as a company this is a bit more tricky than for hobbyists, since getting licences for music is harder. We contacted a very talented artist with which we are nearing an agreement. Stay tuned, the next episode will be in the 'new season'."
        - type: a
          text: "Explore Our Podcast"
          href: "https://safing.io/podcast/"
  postponed:
  discarded:
---


<div>
  {% if page.cards.done.size > 0 %}
    <div class="pt-12">
      <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
        <h3 >Completed</h3>
        <p>A list of work packages we've fully wrapped up this month. Expand any to find out more about its conclusion.</p>
      </div>
      <div class="pt-10 blogwrapper">
        {% for card in page.cards.done %}
          {% include project_tablecard.html state = 'done' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if page.cards.in_progress.size > 0 %}
    <div class="pt-12">
      <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
        <h3 >In Progress</h3>
        <p>Expand any work package to find out more about its progress, obstacles and sub-achievements.</p>
      </div>
      <div class="pt-10 blogwrapper">
        {% for card in page.cards.in_progress %}
          {% include project_tablecard.html state = 'in_progress' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if page.cards.discarded.size > 0 %}
    <div class="pt-12">
      <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
        <h3 >Discarded</h3>
        <p>Work packages we for one reason or the other decided to discard. Click on a package to find out the exact reasons why.</p>
      </div>
      <div class="pt-10 blogwrapper">
        {% for card in page.cards.discarded %}
          {% include project_tablecard.html state = 'discarded' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if page.cards.postponed.size > 0 %}
    <div class="pt-12">
      <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
        <h3 >Postponed</h3>
        <p>Work packages we for one reason or the other decided to postpone. Click on a package to find out the exact reasons why.</p>
      </div>
      <div class="pt-10 blogwrapper">
        {% for card in page.cards.postponed %}
          {% include project_tablecard.html state = 'postponed' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
