---
# ⚠️ ALWAYS follow this format: "#001 - Some sweet title"
# this has to be consistent for displaying only the episode number or only the title
title: "#002 - Progress Update July"
date: 2020-07-31
author: davegson
custom_thumbnail_name: progress-update

# Progress Update blogs make a snapshot of the current next page
# and then add a "progress: description" to it.
# -> this is cool for history purposes

# And in there, describe the progress, challenges, cool moments etc..
# You may always refer to previous blog posts to get an idea.
# if a project gets completed / abandoned, add a finish date

# also set this attribute to true so the website does its magic with it
progress_update: true

# snapshot as of 2020/07/31
cards:
  done:
    - title: Funding Proposals
      description:
        - Request different grants to help us out financially with all the research & development still ahead of us.
        - Apply follow up fundings both from the Netidee and the FFG.
      link:
        text: "More on Transparent Funding..."
        url: "/ownership/#finances"
      projects:
        - Backoffice
      team:
        - Tabitha
        - Raphael
      progress:
        - type: 'h3'
          text: FFG Proposal Was 32 Pages Long
        - type: p
          text: Applying for grants takes a lot of work. We defined 14 R&D goals for the coming year. This time the proposal was extra tricky since we decided to write it in German. Most of our previous applications were written in English, so this time translating texts was also part of the work load. But we are happy we could wrap this up. Result coming in September.
        - type: 'h3'
          text: Netidee Application Submitted Too
        - type: p
          text: Safing started out with a funding from Netidee four years ago, so applying for another grant felt special. The extent of the defined work packages are smaller compared to the FFG, so it did not take as long.
  in_progress:
    - title: SPN Pre-Alpha
      description:
        - Deploy the SPN in v0.1. Give access to Marvin and Visionary Kickstarter backers.
        - Communicate that this is only the first step and that it will take a few weeks or months until the network is stable enough to support hundreds/thousands of users.
      projects:
        - SPN
      team:
        - Daniel
        - Patrick
    - title: Safing API
      description:
        - Enable you to sign in to your Safing account on the Portmaster client via the Safing API. Also respond with details regarding your SPN subscription.
        - Implement device management so you can sign out of devices from the Safing website.
      projects:
        - SPN
        - Portmaster
        - Website
      team:
        - David
        - Daniel
      progress:
        - type: 'h3'
          text: We Completed the Server Part
        - type: p
          text: The Safing API has come very far. It actually already is online, signing in valid users and responding with information on each users SPN subscription status. Setting the API up securely took quite a lot of planning, but we are happy about the result.
        - type: 'h3'
          text: Designs Are Done Too
        - type: p
          text: Now in the Portmaster part, we both need to provide an interface where you can log in to the SPN and where it displays your current account status. The designs for this have also been completed by Luke.
        - type: 'h3'
          text: What is Missing is The Client Side
        - type: p
          text: The only puzzle piece missing is the frontend implementation, meaning the Portmaster UI actually showing the designs and making the API calls. This project is nearing its completion, so stay tuned!
    - title: IntelHub
      description:
        - Create a service that aggregates filterlists, updates this intelligence frequently and distributes it to Portmaster clients so they do not have to do this resource heavy work themselves.
        - Also aggregate and distribute GeoIP data so the SPN module can calculate up-to-date Internet routes for its circuits.
      projects:
        - Portmaster
      team:
        - Patrick
      progress:
        - type: 'h3'
          text: Watching Filter List Repos
        - type: p
          text: Next to providing aggregated filter lists to the privacy filter module of the Portmaster, we added a feature to the IntelHub so it watches the different list repositories. With this, we will constantly be informed about ongoing changes and be able to quickly inform our users about any impactful changes.
        - type: 'h3'
          text: GeoIP Data is Being Aggregated
        - type: p
          text: The second big part of this work package is to collect and sort GeoIP data so the Portmaster can properly build SPN circuits locally. If you are pinging a server in Europe it would be ineffective to exit the SPN in Asia. Hence, your client needs this data to calculate efficient routes. This data is already being gathered from many different resources and takes our server up to 16 GB of memory when performing an update.
        - type: 'h3'
          text: Polishing Things Up
        - type: p
          text: All in all, Patrick is making great progress and this project is nearing its completion. It just needs a few improvements here and there to then be fully deployed. Expect this to be out soon.
    - title: Portmaster Documentation
      description:
        - You can see our high level concepts & you can inspect our code. But nothing in between.
        - Fill that gap by providing proper documentation of the Portmaster. What does each component do? With what other components does it interact? Where is its code located?
      projects:
        - Portmaster
        - Website
      team:
        - David
        - Patrick
        - Daniel
      progress:
        - type: 'h3'
          text: Goals Are Specified, Texting Will Start Soon
        - type: p
          text: Since the roadmap was prioritized not much could be done in this field. But since this project is near and dear to us, David will soon fully focus on getting these texts out of the door.
    - title: Administration Interface
      description:
        - Enable admins to easily accept cash payments, manage refunds or suspend rogue users.
        - Also provide some basic insights on signups, payments, survey results, etc...
      projects:
        - Website
      team:
        - Alex
      progress:
        - type: 'h3'
          text: Planning Done, Implementation Pushing Forward
        - type: p
          text: Having started this in July, we started off with planning & specifying this feature. After that was done Alex moved on to its implementation and already made great progress, soon to be reviewed and polished. This project also gave one of our summer interns the possibility to take part and experience a feature development cycle right from the start.
    - title: Next Page & Backlog
      description:
        - Properly communicate what we currently are working on so you know what to expect from us in the nearer future.
        - Also provide a backlog to acknowledge everything that needs to be done further down the road. Encourage participation so you can easily let us know where we might need to adapt or what we might have missed in the bigger picture.
      projects:
        - Website
        - Community
      team:
        - Luke
        - David
      progress:
        - type: 'h3'
          text: Next Page And Progress Update Blog Are Done
        - type: p
          text: Many have come to ask what we are up to and what our plans for the future are. And previously, we communicated deadlines and got into a bunch of uncomfortable situations. But the alternative of just NOT communicating anything is lame too, and certainly nothing we stand for. Both David and Luke ping ponged a lot of ideas until we came up with this approach - hopefully you dig it as much as we do!
        - type: 'h3'
          text: A Lot More Coming Up in the Backlog
        - type: p
          text: This is the first step of two, since we also want to share all about our work packages lined up further down the road. What features will be added to the SPN, the Portmaster, etc.. Well, we want to tell you, so we are working on it.
    - title: Redesign account.safing.io
      description:
        - When visiting https://account.safing.io/ to manage your Safing account, the design clearly breaks from the main website.
        - Unify these designs so you get a more wholesome web experience.
      projects:
        - Website
      team:
        - Luke
      progress:
        - type: 'h3'
          text: It Just Started
        - type: p
          text: This project is fairly new, so not too much could be achieved. The goal is to have a unified design both for the main website and the account part of the website. Luke already started out with some early design concepts.
    - title: "Inception: Reaching Out"
      description:
        - As the SPN will soon see the light of day, the time has come to spread the word, also by spending money.
        - Reach out to YouTube channels and newsletters in the privacy scene who offer sponsored shout-outs.
        - You are very welcome to give us suggestions in this context!
      projects:
        - Marketing
      team:
        - Raphael
        - Tabitha
      progress:
        - type: 'h3'
          text: Slots Have Been Booked
        - type: p
          text: We are happy to already have contacted a few folks where we could book some of their sponsorship slots. Also, some local partners reached out to help us out with marketing opportunities. We will not disclose what will come of it just yet, only after the fact. But next month's update will certainly include more information.
        - type: 'h3'
          text: It's an Evergoing Process
        - type: p
          text: Naturally, we will not be done after a few marketing gigs, which is why we are still on the look-out for further opportunities to spread the word.
        - type: a
          text: "Let us know if you have any ideas on reddit"
          href: "https://reddit.com/r/safing/"
  discarded:
---


<div class="pt-24">
  {% if page.cards.done.size > 0 %}
    <div class="pt-12">
      <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
        <h3 >Completed</h3>
        <p>A list of work packages we've fully wrapped up this month. Expand any to find out more about its conclusion.</p>
      </div>
      <div class="pt-10 blogwrapper">
        {% for card in page.cards.done %}
          {% include project_tablecard.html state = 'done' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if page.cards.in_progress.size > 0 %}
    <div class="pt-12">
      <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
        <h3 >In Progress</h3>
        <p>Expand any work package to find out more about its progress, obstacles and sub-achievements.</p>
      </div>
      <div class="pt-10 blogwrapper">
        {% for card in page.cards.in_progress %}
          {% include project_tablecard.html state = 'in_progress' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if page.cards.discarded.size > 0 %}
    <div class="pt-12">
      <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
        <h3 >Discarded</h3>
        <p>Work packages we for one reason or the other decided to discard. Click on a package to find out the exact reasons why.</p>
      </div>
      <div class="pt-10 blogwrapper">
        {% for card in page.cards.discarded %}
          {% include project_tablecard.html state = 'discarded' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
