---
title: Safing Video Updates
layout: page
---

<section>
  <div class="blogpod-container mt-80">
      <div class="blogpod-container-top">
          <span class="blogpod-container-top-bg-title">Follow Us</span>
          <h2 class="blogpod-container-top-title">
              Podcast
          </h2>
          <div class="blogpod-container-top-extra">
              <a class="link-secondary" href="{{ site.youtube_channel_url }}"><i class="icon-rss"></i></a>
              <a class="link-secondary" href="{{ site.invidious_channel_url }}"><i class="icon-rss"></i></a>
          </div>
      </div>
      <div class="blogpod-container-bottom">
        {% assign sorted_videos = site.publications | reverse | where:"category","video" %}
        {% for video in sorted_videos %}
          {% include thumbnail_video.html %}
        {% endfor %}
      </div>
  </div>
</section>