---
title: Safing Blog
layout: page
---

<section style="padding-top: 16rem;">
  <div class="items-center h-full">
    <div class="container mx-auto px-8 sm:px-0 flex">
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:flex">
        <div class="py-12 bg-white">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center">
              <span style="font-size: 12rem; font-weight: 800; margin-top: -9rem; opacity: 0.05;" class="z-0 ml-0 w-full left-0 text-center absolute bg-top">Follow Us</span>
              <h2 class="text-5xl tracking-tight font-extrabold leading-none py-10 text-center">Blog</h2>
            </div>
            <div class="mt-32">
              <ul class="md:grid md:grid-cols-2 lg:grid-cols-3 md:col-gap-8 md:row-gap-10">
                {% for post in site.posts %}
                <li>
                  <div class="block transform hover:scale-95 duration-150 ease-in-out">
                    <a href="{{ post.url }}">
                      {% if post.custom_thumbnail_name == null %}
                        <img src="{{ site.img_url }}thumbnails/blog/placeholder.png">
                      {% else %}
                        <img src="{{ site.img_url }}thumbnails/blog/{{ post.custom_thumbnail_name }}.png">
                      {% endif %}
                      <div class="pt-6">
                        <span class="opacity-25">{{ post.date | date: "%-d. %b %Y" }}</span>
                        <p>{{ post.title }}</p>
                    </a>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <br class="mb-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
