---
title: Safing Blog
layout: page
---

<section class="general-layout">
  <div class="blogpod-container mt-80">
      <div class="blogpod-container-top">
          <span class="blogpod-container-top-bg-title">Follow Us</span>
          <h2 class="blogpod-container-top-title">
              Blog
          </h2>
          <div class="blogpod-container-top-extra">
              <a class="link-secondary" href="{{ site.blog_feed_url }}"><i class="icon-rss"></i></a>
          </div>
      </div>
      <div class="blogpod-container-bottom">
          {% assign sorted_blogs = site.publications | reverse | where:"category","blog" %}
          {% for post in sorted_blogs %}
            {% include thumbnail_blog.html %}
          {% endfor %}
      </div>
  </div>
</section>
