---
layout: page
title: roadmap
heading: Roadmap
subheading: "What we've done and plan to do."
---

<span id="roadmap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for element in site.data.roadmap.elements %}
            {% assign modulo = forloop.index | modulo: 2 %}{% comment %}0 = even, 1 = odd{% endcomment %}
            <li{% if modulo == 0 %} class="timeline-inverted"{% endif %}>
              <div class="timeline-icon">
                <i class="fa fa-{{ element.icon }} text-primary"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ element.time }}</h4>
                  <h4 class="color-primary-important">{{ element.heading }}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{ element.body }}</p>
                  {% if element.funding_status %}
                    {% assign config = site.data.roadmap.config.funding[element.funding_status] %}
                    <p class="text-{{ config.color_class }}">{{ config.text }}</p>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
          <li class="timeline-inverted">
            <div class="timeline-icon">
            <i class="fa fa-ellipsis-h text-primary"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</span>
