---
layout: publication_container
---

<div class="header-four-container">
    <h1 class="header-four-container-title">{{ page.title }}</h1>
    {% if page.summary %}
      <p class="header-four-container-desc text-2xl">
        {{ page.summary | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}
    <span class="header-four-container-title-author text-md">
      {% if page.updated %}
        updated {{ page.updated | date: "%B %-d, %Y" }}
      {% else %}
        {{ page.date | date: "%B %-d, %Y" }}
      {% endif %}
      • Written by <a class="link-primary" href="{{ site.team_url }}#{{ page.author | slugify }}">{{ page.author | capitalize }}</a>
    </span>
    <div class="header-four-container-social">
        <a class="link text-safing-gray-200 hover-opacity-in" href="{{ site.discord_url }}"> <i class="icon-discord text-lg"></i> </a>
        <a class="link text-safing-gray-200 hover-opacity-in" href="{{ site.youtube_channel_url }}" class="hover-opacity-out"> <i class="icon-youtube text-xl"></i> </a>
        <a class="link text-safing-gray-200 hover-opacity-in" href="{{ site.reddit_url }}"><i class="icon-reddit text-xl"></i></a>
        <a class="link text-safing-gray-200 hover-opacity-in" href="{{ site.twitter_url }}"><i class="icon-twitter text-lg"></i></a>
        <a class="link text-safing-gray-200 hover-opacity-in" href="{{ site.github_url }}"><i class="icon-github text-xl"></i></a>
    </div>
</div>

<div class="markdown-container">
  {{ content | replace: '<!--break-->', '<a class="anchor" id="continue"></a>' }}
  {% if page.progress_update == null %}
    <p>{{ page.date | date: "%B %-d, %Y" }} • Written by <a href="{{ site.team_url }}#{{ page.author | slugify }}">{{ page.author | capitalize }}</a></p>
  {% endif %}
</div>
