---
layout: page_container
---

<div class="text-center">
    <h1 >{{ page.title }}</h1>
    {% if page.summary %}
      <p class="text-left max-w-2xl mx-auto">
        {{ page.summary | markdownify }}
      </p>
    {% endif %}
    <p>{{ page.date | date: "%B %-d, %Y" }} • Written by <a href="{{ site.team_url }}#{{ page.author | slugify }}">{{ page.author | capitalize }}</a></p>
    <div class="flex mx-auto justify-center pt-5">
      <a href="{{ site.twitter_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.1rem; width: auto;" src="{{ site.img_url }}icons/twitter.svg">
      </a>
      <a href="{{ site.github_url }}" class="pl-4 pr-4  opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.19rem; width: auto;" src="{{ site.img_url }}icons/github.svg">
      </a>
      <a href="{{ site.reddit_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.18rem; width: auto;" src="{{ site.img_url }}icons/reddit.svg">
      </a>
    </div>
</div>

{% if page.progress_update %}
<div>
{% else %}
<div class="content" id="blog">
{% endif %}
  {{ content | replace: '<!--break-->', '<a class="anchor" id="continue"></a>' }}
</div>

<hr>

{% if page.portmaster_plug == true %}
  <div class="w-full" style="height: 260px;">
    <img class="hidden lg:block absolute" style="margin-top: 11rem; margin-left: 50rem; z-index: 1;" src="/assets/img/shapes/circle-md-2.png" alt="">
    <div class="absolute mx-auto right-0 left-0 rounded-md flex items-center overflow-hidden" style="background-color: #647cbf; max-width: 950px; height: inherit;">
      <img class="absolute right-0 bottom-0 hidden lg:block max-w-5xl lg:max-w-full" style="margin-right: -28.8rem; margin-bottom: -14.1rem;" src="{{ site.img_url }}page-specific/portmaster/full-interface.png" alt="">
      <div class="text-center mx-auto lg:text-left lg:ml-20">
        <span class="text-white font-bold block lg:max-w-sm" style="font-size: 2.8rem; line-height: 41px;">Discover the Portmaster</span>
        <span class="text-white text-md block mt-3 opacity-75">Open Source. Free Forever.</span>
        <a href="{{ site.portmaster_url }}" style="opacity: 1;">
          <button type="button" style="background-color: #ffff; color: #647cbf; margin-left: -8px;" class="mt-3 transform scale-95 hover:scale-90 lg:inline-flex px-8 py-2 border border-transparent text-sm md:text-xs leading-5 font-extrabold rounded-full text-white hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out uppercase">
            Take Back Control
          </button>
        </a>
      </div>
    </div>
  </div>
{% endif %}

{% include next_previous_item.html %}
