---
layout: page
---

<section class="publication-layout">
    <div class="mx-auto max-w-4xl space-y-5">
      <div class="flex mx-auto items-center">
        <div class="space-y-3">
          <h1 class="text-5xl block tracking-tight font-bold leading-none">{{ page.title }}</h1>
          <span class="block text-md text-safing-gray-300">Austria - remote</span>
        </div>
        <div class="ml-auto">
          <a class="btn-primary" href="mailto:hello@safing.io">Apply Now</a>
        </div>
      </div>
      <div>
        <p>All jobs at Safing start with your application via email, where you can tell us a little 
          bit about yourself. After that, we’ll have 1-2 short interviews and stay in touch after 
          that. If it’s a good fit for both of us you can immediately start out with a paid trial 
          (spanning 3 months), leading into full employment thereafter.
        </p>
      </div>
    </div>
    <div class="markdown-container">
        {{ content }}
    </div>
</section>