<!DOCTYPE html>
<html lang={{ site.lang }} >
  <head>
    {% include head.html %}
  </head>
  <body>
      <div class="ui basic center aligned very padded segment" style="margin: 0;"  >

              <h1 class="">
              {% if page.heading %}
                {{ page.heading }}
              {% elsif page.title %}
                {{ page.title }}
              {% elsif layout.heading %}
                {{ layout.heading }}
              {% endif %}
            </h1>
            {% if page.subheading %}
              <h3 class="">
                {% if page.subheading %}
                  {{ page.subheading }}
                {% elsif page.title %}
                {% elsif layout.subheading %}
                  {{ layout.subheading }}
                {% endif %}
              </h3>
            {% endif %}

        {% if page.include_divider %}
          {% include page_divider.html %}
        {% endif %}
      </div>

      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
