---
layout: page
legacy_layout: true
---
<content>
  <div class="ui {{ page.container_class }} container">
    {% if page.heading or page.title or layout.heading %}
      <div class="ui basic center aligned very padded segment" style="margin: 0;">
        <h1 class="">
          {% if page.heading %}
            {{ page.heading }}
          {% elsif page.title %}
            {{ page.title }}
          {% elsif layout.heading %}
            {{ layout.heading }}
          {% endif %}
        </h1>

        {% if page.subheading %}
          <h3 class="">
            {% if page.subheading %}
              {{ page.subheading }}
            {% elsif page.title %}
            {% elsif layout.subheading %}
              {{ layout.subheading }}
            {% endif %}
          </h3>
        {% endif %}
      </div>
    {% endif %}

    <div class=" ui basic segment" style="font-size: 1.3rem;">
      {{ content }}
    </div>
  </div>
</content>
