---
layout: page
---

<section id="page-container" class="{{ layout.container_class }} {{ page.container_class }}">
  <div class="items-center h-full">
    <div class="container mx-auto px-8 sm:px-0 flex">
      <div class="max-w-screen-lg mx-auto px-4 sm:px-6 lg:flex">
        <div class="py-12 bg-white">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
            <content>
              {{ content }}
            </content>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
