---
layout: publication_container
---

<div class="header-four-container">
  {% assign title_length = page.title | size %}
  <span class="header-four-container-counter">#{{ page.title | slice: 2, 2 }}</span>
  <h1 class="header-four-container-title">{{ page.title | slice: 7, title_length }}</h1>
  <p class="header-four-container-desc">{{ page.date | date: "%B %-d, %Y" }}</p>
  <div class="header-four-container-social">
      <a class="link text-safing-gray-200 hover-opacity-in" href="{{ site.twitter_url }}"><i class="icon-twitter text-lg"></i></a>
      <a class="link text-safing-gray-200 hover-opacity-in" href="{{ site.github_url }}"><i class="icon-github text-xl"></i></a>
      <a class="link text-safing-gray-200 hover-opacity-in" href="{{ site.reddit_url }}"><i class="icon-reddit text-xl"></i></a>
  </div>
</div>

<div class="markdown-container">
  {{ content | replace: '<!--break-->', '<a class="anchor" id="continue"></a>' }}
  <h3>Description</h3>
  {{ page.summary }}
</div>