---
layout: page_container
container_class: "podcast pt-40 lg:pt-40"
---

<div class="text-center">
  {% assign title_length = page.title | size %}
  <span style="font-size: 12rem; font-weight: 800; margin-top: -9rem; opacity: 0.05;" class="z-0 ml-0 w-full left-0 text-center absolute bg-top">#{{ page.title | slice: 2, 2 }}</span>
  <h2 class="tracking-tight font-extrabold leading-none text-center" style="max-width: 632px; margin: auto; font-size: 3rem;">{{ page.title | slice: 7, title_length }}</h2>
  <p>{{ page.date | date: "%B %-d, %Y" }}</p>
  <div class="flex mx-auto justify-center pt-5">
    <a href="{{ site.twitter_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
      <img style="height: 1.1rem; width: auto;" src="{{ site.img_url }}icons/twitter.svg">
    </a>
    <a href="{{ site.github_url }}" class="pl-4 pr-4  opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
      <img style="height: 1.19rem; width: auto;" src="{{ site.img_url }}icons/github.svg">
    </a>
    <a href="{{ site.reddit_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
      <img style="height: 1.18rem; width: auto;" src="{{ site.img_url }}icons/reddit.svg">
    </a>
  </div>
</div>
<div class="content">
  {{ content | replace: '<!--break-->', '<a class="anchor" id="continue"></a>' }}
  <h3>Description</h3>
  {{ page.summary }}


<div class="flex pt-24 justify-center grid grid-rows-2 grid-cols-2 row-gap-12 md:grid-rows-1 md:row-gap-0 md:col-gap-16 max-w-3xl mx-auto">
  {% if page.next.url %}
    <div class="text-left row-start-1 row-end-2 col-start-1 col-end-3 md:row-auto md:col-auto">
      <div class="pb-4 text-md opacity-55">Next Podcast</div>
      <a href="{{page.next.url }}" class="text-3xl tracking-tight font-extrabold leading-none break-normal">{{page.next.title}}</a>
    </div>
  {% endif %}
  {% if page.previous.url %}
    <div class="text-right row-start-2 row-end-3 col-start-1 md:col-start-2 col-end-3 md:row-auto">
      <div class="pb-4 text-md opacity-55">Previous Podcast</div>
      <a href="{{page.previous.url }}" class="text-3xl tracking-tight font-extrabold leading-none break-normal">{{page.previous.title}}</a>
    </div>
  {% endif %}
</div>
