---
layout: page_container
---

<div class="text-center">
    <h1 class="text-5xl tracking-tight font-extrabold leading-none pb-2 pt-8 text-center">{{ page.title }}</h1>
    <p>{{ page.date | date: "%B %-d, %Y" }} • Written by <a href="">David</a></p>
    <div class="flex mx-auto justify-center pt-5">
      <a href="{{ site.twitter_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.1rem; width: auto;" src="{{ site.img_url }}icons/twitter.svg">
      </a>
      <a href="{{ site.github_url }}" class="pl-4 pr-4  opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.19rem; width: auto;" src="{{ site.img_url }}icons/github.svg">
      </a>
      <a href="{{ site.reddit_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.18rem; width: auto;" src="{{ site.img_url }}icons/reddit.svg">
      </a>
    </div>
</div>

{% if page.progress_update %}
<div>
{% else %}
<div class="content" id="blog">
{% endif %}
  {{ content | replace: '<!--break-->', '<a class="anchor" id="continue"></a>' }}
</div>

{% if site.inter_post_navigation == true %}
  <section class="post-navigation">
    <span class="prev-post">
      {% if page.previous.url %}
        <a href="{{page.previous.url | prepend: site.base_url}}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
          </span>
          <span class="page-number">{{page.previous.title}}</span>
        </a>
      {% endif %}
    </span>
    <span class="next-post">
      {% if page.next.url %}
        <a href="{{page.next.url | prepend: site.base_url}}">
          <span class="page-number">{{page.next.title}}</span>
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {% endif %}
    </span>
  </section>
{% endif %}

<div class="flex pt-24 justify-center grid grid-cols-2 col-gap-16 max-w-3xl mx-auto">
  {% if page.next.url %}
    <div class="text-left">
      <div class="pb-4 text-md opacity-55">Next Post</div>
      <a href="{{page.next.url }}" class="text-3xl tracking-tight font-extrabold leading-none break-normal">{{page.next.title}}</a>
    </div>
  {% endif %}
  {% if page.previous.url %}
    <div class="text-right col-start-2">
      <div class="pb-4 text-md opacity-55">Previous Post</div>
      <a href="{{page.previous.url }}" class="text-3xl tracking-tight font-extrabold leading-none break-normal">{{page.previous.title}}</a>
    </div>
  {% endif %}
</div>
