---
layout: page_column
title: "Blog"
heading: "Blog"
subheading: "Announcements and things we'd like to share"
---

<div class="post">
  <div class="date">
    <a href="{{ site.base_url }}blog/all/#{{ page.date | date: "%Y" }}" class="stealth-href">{{ page.date | date: "%-d %b %Y" }}</a>
  </div>
  <div class="tags">
    {% for tag in page.tags %}
      <div class="stealth-href"><i class="fa fa-tag fa-flip-horizontal"></i> {{ tag }}</div>
    {% endfor %}
  </div>

  <div class="content">
    {{ content | replace: '<!--break-->', '<a class="anchor" id="continue"></a>' }}
  </div>
</div>

{% if site.inter_post_navigation == true %}
  <section class="post-navigation">
    <span class="prev-post">
      {% if page.previous.url %}
        <a href="{{page.previous.url | prepend: site.base_url}}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
          </span>
          <span class="page-number">{{page.previous.title}}</span>
        </a>
      {% endif %}
    </span>
    <span class="next-post">
      {% if page.next.url %}
        <a href="{{page.next.url | prepend: site.base_url}}">
          <span class="page-number">{{page.next.title}}</span>
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {% endif %}
    </span>
  </section>
{% endif %}
