---
layout: page_container
---

<div class="text-center">
    <h1 class="text-5xl tracking-tight font-extrabold leading-none pb-5 pt-10 text-center">{{ page.title }}</h1>
    <p>{{ page.date | date: "%B %-d, %Y" }}</p>
    <div class="flex mx-auto justify-center pt-5">
      <a href="{{ site.twitter_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.1rem; width: auto;" src="{{ site.img_url }}icons/twitter.svg">
      </a>
      <a href="{{ site.github_url }}" class="pl-4 pr-4  opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.19rem; width: auto;" src="{{ site.img_url }}icons/github.svg">
      </a>
      <a href="{{ site.reddit_url }}" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
        <img style="height: 1.18rem; width: auto;" src="{{ site.img_url }}icons/reddit.svg">
      </a>
    </div>
</div>

{% if page.progress_update %}
<div>
{% else %}
<div class="content" id="blog">
{% endif %}
  {{ content | replace: '<!--break-->', '<a class="anchor" id="continue"></a>' }}

  <div class="justify-center grid pt-16 gap-4 grid-flow-row tag-grid">
    <span class="text-center px-3 py-1 rounded-full text-sm font-medium  leading-5 bg-gray-300 text-gray-600">
      AMA
    </span>
    <span class="text-center px-3 py-1 rounded-full text-sm font-medium leading-5  bg-gray-300 text-gray-600">
      Privacy
    </span>
    <span class="text-center px-3 py-1 rounded-full text-sm font-medium leading-5  bg-gray-300 text-gray-600">
      Feedback
    </span>
    <span class="text-center px-3 py-1 rounded-full text-sm font-medium leading-5  bg-gray-300 text-gray-600">
      Community
    </span>
  </div>

</div>

{% if site.inter_post_navigation == true %}
  <section class="post-navigation">
    <span class="prev-post">
      {% if page.previous.url %}
        <a href="{{page.previous.url | prepend: site.base_url}}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
          </span>
          <span class="page-number">{{page.previous.title}}</span>
        </a>
      {% endif %}
    </span>
    <span class="next-post">
      {% if page.next.url %}
        <a href="{{page.next.url | prepend: site.base_url}}">
          <span class="page-number">{{page.next.title}}</span>
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {% endif %}
    </span>
  </section>
{% endif %}
</style>
<div class="flex pt-24 justify-center grid grid-cols-2 col-gap-16 max-w-3xl mx-auto">
  <div class="text-left">
    <div class="pb-4 text-md opacity-55">Next Post</div>
    <a href="" class="text-3xl tracking-tight font-extrabold leading-none break-normal">Hiring a Designer from the Privacy Community</a>
  </div>
  <div class="text-right">
    <div class="pb-4 text-md opacity-55">Previous post</div>
    <a href="" class="text-3xl tracking-tight font-extrabold leading-none break-normal">#002 - Progress Update October</a>
  </div>
</div>