---
layout: page_container
---

<div class="header-four-container">
  {% if page.progress_update %}
    {% assign title_length = page.title | size %}
    <span class="header-four-container-counter">#{{ page.title | slice: 2, 2 }}</span>
    <h1 class="header-four-container-title">{{ page.title | slice: 7, title_length }}</h1>
  {% else %}
    <h1 class="header-four-container-title">{{ page.title }}</h1>
  {% endif %}
  {% if page.summary %}
    <p class="header-four-container-desc">
      {{ page.summary | markdownify | remove: "<p>" | remove: "</p>" }}
    </p>
  {% endif %}
  <span class="header-four-container-title-author">
      May 6, 2021 • Written by <a class="link-primary" href="/team/#david">David</a>
  </span>
  <div class="header-four-container-social">
      <a class="link hover-opacity-in" href="{{ site.twitter_url }}"><i class="icon-twitter text-lg"></i></a>
      <a class="link hover-opacity-in" href="{{ site.github_url }}"><i class="icon-github text-xl"></i></a>
      <a class="link hover-opacity-in" href="{{ site.reddit_url }}"><i class="icon-reddit text-xl"></i></a>
  </div>
</div>

<div class="markdown-container">
{{ content | replace: '<!--break-->', '<a class="anchor" id="continue"></a>' }}
{% if page.progress_update == null %}
  <p>{{ page.date | date: "%B %-d, %Y" }} • Written by <a href="{{ site.team_url }}#{{ page.author | slugify }}">{{ page.author | capitalize }}</a></p>
{% endif %}
</div>