---
title: Safing Ownership
layout: page
---

<section id="page-container" class="pb-8 lg:pb-24 pt-16 lg:pt-40  ">
  <div class="items-center h-full">
    <div class="container mx-auto px-0 sm:px-0 flex">
      <div class="max-w-screen-lg mx-auto px-0 sm:px-6 lg:flex">
        <div class="py-12 bg-white">
          <div class="max-w-screen-xl mx-auto px-2 sm:px-6 lg:px-8">
            <content>
              <div class="text-center">
                <h1 class="text-5xl tracking-tight font-extrabold leading-none pb-5 pt-10 text-center">Community Progress Update</h1>
                <p>July 7, 2020</p>
                <div class="flex mx-auto justify-center pt-5">
                  <a href="https://twitter.com/SafingIO" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
                    <img style="height: 1.1rem; width: auto;" src="/assets/img/icons/twitter.svg">
                  </a>
                  <a href="https://github.com/safing" class="pl-4 pr-4  opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
                    <img style="height: 1.19rem; width: auto;" src="/assets/img/icons/github.svg">
                  </a>
                  <a href="https://reddit.com/r/safing" class="opacity-55 hover:opacity-100 ease-in-out duration-150" target="_blank">
                    <img style="height: 1.18rem; width: auto;" src="/assets/img/icons/reddit.svg">
                  </a>
                </div>
              </div>
              <div class="pt-24">
                <div class="pt-12">
                  <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
                    <h3 >Completed</h3>
                    <p>This is a list of the tasks we have completed in this month time frame. If you wish to find more about each task, click them have a read.</p>
                  </div>
                  <div class="pt-10 gridwrapper">
                    {% include project_tablecard.html %}
                    {% include project_tablecard.html %}
                    {% include project_tablecard.html %}
                  </div>
                </div>
                <div class="pt-12">
                  <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
                    <h3 >In Progress</h3>
                    <p>This is a list of the tasks we have completed in this month time frame. If you wish to find more about each task, click them have a read.</p>
                  </div>
                  <div class="pt-10">
                    {% include project_tablecard.html %}
                  </div>
                </div>
                <div class="pt-12">
                  <div style="max-width: 750px; margin-top: 3rem; margin: auto;">
                    <h3 >Abandoned</h3>
                    <p>This is a list of the tasks we have completed in this month time frame. If you wish to find more about each task, click them have a read.</p>
                  </div>
                  <div class="pt-10">
                    {% include project_tablecard.html %}
                  </div>
                </div>

              </div>
            </content>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
  this is only for the roadmap blog.
  Luke will clean this at a later date.
-->
<style>

  .gridwrapper{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-auto-flow: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 1350px;
  }

  .card{
    max-width: auto;
  }

  .shadowthing{
    box-shadow: 0 0px 90px 0 rgba(59, 93, 199, 0.1), 0 0px 5px 0 rgba(0, 0, 0, 0);
  }

  @media (min-width: 768px) {

   }

  @media (min-width: 640px) {
    .gridwrapper{
      grid-template-columns: repeat(1, auto);
    }

    #icon{
      margin-top: 2rem;
    }
  }

  @media (min-width: 1024px) {


  }

</style>
