content .about-short{
    color: black;
    height: 25vh;
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns:1fr 1fr;
    grid-row: 0;
    grid-column: 1/4;
    align-items: center;
}

content .about-short h1{
    justify-self: end;
    font-size: 2.5rem;
    padding-right: 9rem;
    width: 500px;
}

content .about-short p{
    justify-self: start;
    font-size: 1.1rem;
    opacity: 0.5;
    padding-left: 5rem;
    width: 500px;
}


@media (min-width: 460px) and (max-width: 1376px) {
    
    content .about-short{
        height: 35vh;
        grid-template-columns: 1fr;
        grid-column: 1/2;
        text-align: center;
        
    }

    content .about-short h1{
        padding-right: 0rem;
        justify-self: none;
        align-self: end;
        width: 100%;
        padding-top: 0rem;
        margin-left: auto;
        margin-right: auto;
    }

    content .about-short p{
        grid-row: 2;
        justify-self: start;
        align-self: start;
        font-size: 1.1rem;
        opacity: 0.5;
        padding-left: 0rem;
        max-width: 70%;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

