content .about-short{
    color: black;
    height: 25vh;
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns:1fr 1fr;
    grid-row: 0;
    grid-column: 1/4;
    align-items: center;
}

content .about-short h1{
    justify-self: end;
    font-size: 2.5rem;
    padding-right: 9rem;
    width: 500px;
}

content .about-short p{
    justify-self: start;
    font-size: 1.1rem;
    opacity: 0.5;
    padding-left: 5rem;
    width: 500px;
}

@media (max-width: 575.98px){
    
    content .about-short{
        height: 95vh;
        grid-template-columns: 1fr;
        text-align: center;
    }

    content .about-short h1{
        padding-right: 0rem;
        justify-self: center;
        width: 100%;
        
    }

    content .about-short p{
        grid-row: 2;
        justify-self: center;
        font-size: 1.1rem;
        opacity: 0.5;
        padding-left: 0rem;
        width: 100%;
        margin-top: -19rem;
    }
}