.features{
    color: black;
    height: 55vh;
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 0;
    grid-column: 1/4;
    align-items: center;
    justify-self: center;
}

.features div{
    width: 450px;
}

.features div img{
    width: 2rem;
}

.features div div{
    padding-top: 1rem;
}

.features div div span{
    font-size: 1.5rem;
    font-weight: bold;
}

.features div div p{
    font-size: 1.1rem;
    padding-top: 1rem;
    width: 350px;
    opacity: 0.5;
}

@media (max-width: 575.98px){

    .features{
        height: 125vh;
        grid-template-columns: 1fr;
        grid-column: 1/3;
    }

    .features div{
        width: 100%;
        padding-top: 2rem;
    }

    .features div{
        text-align: center;
    }

    .features div div p{
        width: 100%;
    }
}