footer{
    color: white;
    height: 45vh;
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr;
    grid-row: 0;
    grid-column: 2/4;
    align-items: center;
}

.f-bg{
    grid-row: 0;
    grid-column: span 5;
    background-color: black;
    background-image: url(/assets/img/f-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

footer a{
    color: white;
    text-decoration: none;
    opacity: 0.5;
    transition:.5s;
}

footer a:hover{
    opacity: 1;
    text-decoration: none;
}


footer div{
  
}

footer .list{
    display: flex;
    align-items: center;
    justify-self: center;
}

footer .list ul{
    padding-top: 6rem;
    padding-left: 6rem;
}

footer .list ul span{
    font-size: 1.5rem;
    font-weight: bold;
}

footer .list ul li{
    padding-top: 1rem;
    list-style-type: none;
}

footer .list ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.5;
    transition:.5s;
}

footer .list ul li a:hover{
    opacity: 1;
    text-decoration: none;
}

footer .legal{
    grid-row: 2;
    align-self: end;
    justify-self: end;
    padding-bottom: 3rem;
    padding-right: 5rem;
} 

footer .legal ul{
    display: flex;
} 

footer .legal ul li{
    padding-left: 2rem;
    list-style-type: none;
} 

@media (max-width: 575.98px) {

    footer{
        height: 45vh;
        border-top-style: solid;
        border-top-width: 8rem;
    }

    footer .list ul{
        padding-top: 2rem;
        padding-left: 6rem;
    }

    footer .legal{
        padding-top: 3rem;
    } 

    footer .list ul{
        padding-left: 0rem;
        padding-right: 3rem;

    }

    .f-bg{
        background-image: none;
    }

    footer .list{
        display: block;
        align-items: center;
        justify-self: center;
    }


}