content .map{
    color: black;
    height: 55vh;
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns:1fr 1fr;
    grid-row: 0;
    grid-column: 1/4;
    align-items: center;
    justify-self: center;
}

content .map .m-l{
   align-items: center;
   justify-self: end;
}

content .map .m-l img{
    width: 90%;
    height: auto;
}

content .map .m-r{
    padding-left: 5rem;
}

content .map .m-r h1{
    font-size: 3rem;
    width: 450px;
    padding-bottom: 2rem;
}

content .map .m-r p{
    font-size: 1.1rem;
    width: 450px;
    opacity: 0.5;
    padding-bottom: 2rem;
}

@media (max-width: 575.98px){

    content .map{
        height: 125vh;
        grid-template-columns:1fr;
    }

    content .map .m-l{
        align-items: center;
        justify-self: center;
     }

    content .map .m-l img{
        width: 100%;
        height: auto;
    }

    content .map .m-r{
        grid-row: 2;
        padding-left: 0rem;
    }

    content .map .m-r h1{
        width: 100%;
        text-align: center;
    }

    content .map .m-r p{
        width: 100%;
        text-align: center;
    }
}